/* ESTILO SANTANDER- NEGRITAS */
@font-face {
  font-family: 'Santander-Bold';
  src: url('../../assets/fonts/Santander_Web_Fonts/SantanderTextW05-Bold.eot');
  src: local('Santander-Bold'), local('Santander-Bold'),
    url('../../assets/fonts/Santander_Web_Fonts/SantanderTextW05-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Santander_Web_Fonts/SantanderTextW05-Bold.woff2') format('woff2'),
    url('../../assets/fonts/Santander_Web_Fonts/SantanderTextW05-Bold.woff') format('woff'),
    url('../../assets/fonts/Santander_Web_Fonts/SantanderTextW05-Bold.ttf') format('truetype');
}

/* ESTILO SANTANDER - REGULAR*/
@font-face {
  font-family: 'Santander-Regular';
  src: url('../../assets/fonts/Santander_Web_Fonts/SantanderTextW05-Regular.eot');
  src: local('Santander-Regular'), local('Santander-Regular'),
    url('../../assets/fonts/Santander_Web_Fonts/SantanderTextW05-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Santander_Web_Fonts/SantanderTextW05-Regular.woff2') format('woff2'),
    url('../../assets/fonts/Santander_Web_Fonts/SantanderTextW05-Regular.woff') format('woff'),
    url('../../assets/fonts/Santander_Web_Fonts/SantanderTextW05-Regular.ttf') format('truetype');
}

/****************************************************** ESTILOS COMPARTIDOS ***********************************************/
/****************************************************************************************************************************/
/*****************************************************************************************************************************/
/* TIPO DE LETRA BOLD, TITULOS*/
.font-bold {
  font-family: 'Santander-Bold', 'Arial', 'Helvetica', sans-serif;
  font-weight: bold;
  line-height: 1.4;
}

/* TITULOS PARA TEXTOS GDES */
.font-boldLongText {
  font-family: 'Santander-Bold', 'Arial', 'Helvetica', sans-serif;
  font-weight: bold;
}

/* IMAGEN DE FONDO AL INICIAR ALGUNA CAPTURA */
.img-background {
  background-image: url('../../assets/img/santander/background@3x.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  height: 53%;
  width: 100%;
  margin: 0;
  z-index: -1;
}

div, section, button, p, img, figure, picture {
  box-sizing: border-box;
}

/* ESTILO PARA LOS MENSAJES QUE INDICAN EL TIPO DE CAPTURA */
.fs-p7em {
  font-family: 'Santander-Regular', sans-serif;
  line-height: 1.5;
  white-space: normal;
  overflow: hidden;
  max-width: 100%;
  display: inline;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  justify-content: center;
}

/* ESTILO PARA LOS MENSAJES QUE INDICAN LA INFO. DE CAPTURA VIDEO-SELFIE */
.fs-p6em {
  font-family: 'Santander-Regular', sans-serif;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  display: inline;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  padding: 0;
  line-height: 1;
  white-space: normal
}

/* ESTILO PARA LOS MENSAJES EN PREVIEWS */
.line-height-1 {
  line-height: 1.3;
  width: 100%;
  display: inherit;
}

/* BODY */
body .navbar-center {
  justify-content: center;
}

/* BODY */
body .row {
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}

/* BODY - OCUPA EL ALTO DEL DISPOSITIVO*/
.body-height {
  height: 100vh;
  justify-content: center;
}

/* ESTILO PARA LOS MENSAJES */
.body-text-info-documents {
  font-family: 'Santander-Regular', sans-serif;
  line-height: 1.3;
  text-align: center;
  margin: 0;
}

/* ESTILO PARA LOS MENSAJES */
.body-text {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 10%;
  padding: 0 1%;
  width: 100%;
  max-width: 100%;
}

/* ESTILO PARA LOS MENSAJES */
.container {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  height: 100vh;
  padding: 0;
  padding-right: 0;
  padding-left: 0;
  margin: 0;
}

/* BTN CONTINUAR EN PREVIEWS */
.botton-vertical {
  margin: 0 auto;
}

/* ESTILO DEL BTN X, PARA CANCELAR LA CAPTURA */
.close-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: white;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

/* ESTILO HACIA HACIA LA DERECHA DEL ENCABEZADO PARA EL BTN X */
.topright {
  position: absolute;
  right: 0;
  top: 0;
  font-size: xx-large;
}

/* ESTILO SUPERIOR DEL ENCABEZADO*/
.postion-flame-top {
  position: absolute;
  z-index: 9999;
  top: 1%;
  transform: translateX(-50%);
  left: 50%;
  display: flex;
  table-layout: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ESTILO INFERIOR DEL ENCABEZADO*/
.postion-flame-bottom {
  position: absolute;
  z-index: 9999;
  bottom: 3%;
  transform: translateX(-50%);
  left: 50%;
  display: inherit;
  table-layout: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ESTILO DE LA FLAMA HACIA LA DERECHA DEL ENCABEZADO*/
.postion-flame-right {
  position: absolute;
  z-index: 9999;
  top: 0;
  transform: translateX(-50%);
  right: 2%;
  display: inherit;
  table-layout: fixed;
  justify-content: center;
  align-items: center;
}

/* ESTILO DE LA FLAMA HACIA LA DERECHA DEL ENCABEZADO*/
.postion-flame-right-horizontal {
  position: absolute;
  z-index: 9999;
  top: 2%;
  transform: translate(-50%);
  left: 50%;
}

/* BODY NO PORTRAIT NI LANDSCAPE */
body {
  font-family: 'Santander-Regular', 'Arial', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1em;
  position: relative;
  height: 100vh;
  background-color: #787484;
  /* overflow: auto; */
}

body .modal-content {
  -moz-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.3);
  border: 0;
}

/* Ancho de la captura */
.dIUAFD div.vd-guides {
  border-width: 1px;
}

/* COLOR DE FONDO DE LA BARRA SUPERIOR */
.fkWAmW, .iKnZuh, .cFLFvK, .kYGZRi div.vd-shade {
  background-color: black;
}

/* COLOR DE FONDO DE LA BARRA SUPERIOR */
.cFLFvK, .kYGZRi div.vd-shade, .koPGBP, .liUJzk {
  background-color: #000000;
}

/* COLOR DE FONDO DE LA BARRA SUPERIOR */
.dletaq, .fiCprx {
  background-color: #000000;
}

/************************************************* ESTILOS DEL  MODAL ********************/
/****************************************************************************************************************************/
/****************************************************************************************************************************/
body .modal {
  z-index: 9999999;
  display: inherit;
  table-layout: fixed;
  align-items: center;
}

body .modal-dialog {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  margin: 0;
}

body .modal-header {
  justify-content: center;
}

/* ESTILO FOOTER EN EL MODAL */
body .modal-footer {
  justify-content: space-around;
  border-top: 0;
}

/* ESTILO DEL CUERPO EN EL MODAL */
body .modal .modal-body {
  text-align: center;
  font-family: 'Santander-Regular', sans-serif;
  color: #000
}

/* BTN MODAL CONTINUE-OK OPCION */
.modal-button-red {
  font-family: 'Santander-Regular', sans-serif;
  background-color: #787484;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-weight: normal;
}

/* BTN MODAL EMPTY OPCION */
.modal-button-white {
  font-family: 'Santander-Regular', sans-serif;
  background: transparent;
  cursor: pointer;
  border: 0;
  color: #787484;
  font-weight: normal;
}

/* ICONO FLAMA SANTANDER - MODO LANDSCAPE*/
.icon-vertical {
  margin: 0 auto;
  padding-top: 0;
}

/********************************************************* ESTILOS DE LA CAPTURA DEL INE **********************************/
/****************************************************************************************************************************/
/****************************************************************************************************************************/
/* NECESARIO PARA QUE LA CAPTURA DEL DOC OCUPE TODA LA PANTALLA */
.target {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background-color: black;
  max-width: 100%;
}

.targetDoc {
  width: 100%;
  height: 100vh;
  background-color: black;
  min-height: 100vh;
  max-width: 100%;
}

.targetDoc .FeedbackAlert__Styled-sc-3h1f4n-0 {
  background-color: transparent;
}


.targetDoc .GlowingOutline__Styled-u7l6ny-0 div.vd-guides {
  border-width: 3.2px;
}

.targetDoc .vd-detection-modal-content.vd-confirmation div.vd-content .vd-image-frame {
  border-width: 3.2px;
  border-radius: 14.2222px;
}

.targetDoc .vd-detection-modal-content.vd-confirmation div.vd-content .vd-image {
  border-radius: inherit;
}

.targetDoc .styles__DetectionModalStyled-adgmle-2 .vd-image {
  border-radius: inherit;
}

/* ESTILO DEL CUADRO DE CAPTURA DEL DOCUMENTO DE IDENTIDAD NO FULLSCREEN*/
.target .vd-cover-detection:not(:fullscreen) {
  height: 90%;
  width: 90%;
  justify-self:center;
}

/* MENSAJE, CAPTURA DEL DOCUMENTO*/
.target .vd-detection-modal-content.vd-confirmation div.vd-text-content {
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 2%;
}

/* ESTILO DEL CUADRO DE CAPTURA DEL DOCUMENTO IDENTIDAD PARA FULLSCREEN */
:-webkit-full-screen .target .vd-cover-detection {
  height: 100%;
  width: 100%;
}

/* PREVIEW DEL DOCUMENTO DE IDENTIDAD, IMAGEN*/
.target .vd-detection-modal-content.vd-confirmation div.vd-content .vd-image {
  border-radius: inherit;
  height: 100%;
  max-width: 100%;
  width: 100%;
}

/* PREVIEW DEL DOCUMENTO DE IDENTIDAD, CONTENEDOR*/
.target .vd-detection-modal-content.vd-confirmation div.vd-content .vd-image-frame {
  height: 80%;
  width: 80vh;
  max-width: 82vh;
}

/* IMAGEN DEL DOCUMENTO CAPTURADO */
.target .styles__DetectionModalStyled-adgmle-2 .vd-image {
  height: 70vh;
  max-height: 70vh;
  border-radius: 10px;
}

/* BTN REINTENTAR EN EL PREVIEW DEL DOCUMENTO */
.targetDoc .vd-detection-modal-content>div div.vd-buttons-container button.vd-button {
  font-family: 'Santander-Regular', sans-serif;
  background: transparent;
  cursor: pointer;
  /* border-radius: 24px; */
  border: 0;
  color: #fff;
  font-weight: normal;
}

.target .GlowingOutline__Styled-u7l6ny-0 {
  max-width: 100%;
  width: 100%;
}

.target .FeedbackAlert__Styled-sc-3h1f4n-0 {
  width: 70%;
}

.target .styles__DetectionModalStyled-adgmle-2 {
  max-width: 100%;
  width: 100%;
}

.target .VideoPlayer__StyledVideo-c8jkza-0 {
  max-width: 100%;
  width: 100%;
}

.target .VideoPlayer__StyledVideo-sc-1sq7s27-0 {
  max-width: 100%;
  width: 100%;
}

.target .VideoPlayer__StyledVideo-g7sng2-0 {
  max-width: 100%;
  width: 100%;
}

.target .vd-detection-modal-content.vd-confirmation div.vd-content .vd-image-frame {
  border-width: 3.2px;
  border-radius: 14.2222px;
}

.target .GlowingOutline__Styled-u7l6ny-0 div.vd-guides {
  border-width: 3.2px;
}

/* Titulo del mensaje */
.target .vddoc-text {
  font-family: 'Santander-Regular', 'Arial', 'Helvetica', sans-serif;
}

.target .FeedbackAlert__Styled-sc-3h1f4n-0 {
  background-color: transparent;
}

.target .vddoc-high-visibility {
  font-family: 'Santander-Regular', 'Arial', 'Helvetica', sans-serif;
}

.targetDoc .vddoc-please-rotate {
  content: url('../../assets/img/santander/rotation_device.gif');
}

.target .vd-text-content {
  font-family: 'Santander-Regular', 'Arial', 'Helvetica', sans-serif;
}

/********************************************** ESTILOS DE LA CAPTURA DEL SELFIE *************************************/
/****************************************************************************************************************************/
/****************************************************************************************************************************/
/* MENSAJE, DEL PREVIEW, CAPTURA FOTO */
.targetf .vd-text-content {
  top: 8%;
  color: white;
  z-index: 9999;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  font-family: 'Santander-Regular', 'Arial', 'Helvetica', sans-serif;
  display: -webkit-box;
  table-layout: fixed;
}

/* MENSAJE ASEGURATE QUE TU ROSTRO ESTA DENTRO DEL OVALO */
.postion-flame-top .txt-foto {
  color: white;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Santander-Regular', 'Arial', 'Helvetica', sans-serif;
  visibility: visible;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  align-items: center;
}

/* CONTENEDOR DEL PREVIEW DEL SELFIE */
/* .targetf .buvsFn{
  position: absolute;
  top: 8%;
} */

/* PREVIEW DEL SELFIE, BOTONES CONFIRMAR*/
.targetf .vd-detection-modal-content>div div.vd-buttons-container {
  position: absolute;
  bottom: 3%;
  display: flex;
  /* table-layout: fixed; */
  justify-content: space-around;
  padding: 0 1%;
}

/* BTN CONTINUAR PREVIEW SELFIE*/
.targetf .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue {
  font-family: 'Santander-Regular', sans-serif;
  background-color: #f5dea9;
  cursor: pointer;
  border: 0;
  color: #000;
  font-weight: normal;
}

/* BTN CANCELAR PREVIEW SELFIE*/
.targetf .vd-detection-modal-content>div div.vd-buttons-container button.vd-button {
  font-family: 'Santander-Regular', sans-serif;
  background: transparent;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-weight: normal;
}

/* PREVIEW DEL DOCUMENTO DE IDENTIDAD, CONTENEDOR*/
/* .targetf .vd-detection-modal-content.vd-confirmation div.vd-content {
  position: absolute;
  height: 68%;
  top: auto;
} */
/* BORDER IMAGEN PREVIEW SELFIE*/
.targetf .vd-detection-modal-content.vd-confirmation .vd-image-frame,
.targetf .vd-detection-modal-content.vd-confirmation div.vd-content .vd-image {
  border-radius: 48% 47%;
}

.targetf .GlowingOutline__Styled-u7l6ny-0 div.vd-guides div.vd-cover-detection {
  visibility: visible;
}

.targetf .vddoc-high-visibility {
  font-family: 'Santander-Regular', 'Arial', 'Helvetica', sans-serif;
}

.targetf .vddoc-text {
  font-family: 'Santander-Regular', 'Arial', 'Helvetica', sans-serif;
}

/************************************************* ESTILOS DE LA CAPTURA DEL VIDEO-SELFIE *********************************/
/****************************************************************************************************************************/
/****************************************************************************************************************************/

/* OCULTA LAS VENTANAS DE AYUDA EN LA VIDEO-SELFIE */
.targetv .RecordingModal__Container-jo8jm9-0 {
  display: none;
}



/* OCULTA LAS VENTANAS DE AYUDA EN LA VIDEO-SELFIE */
.targetv .Countdown__Styled-yl3yc2-0 {
  display: none;
}

.targetv .vddoc-high-visibility {
  font-family: 'Santander-Regular', 'Arial', 'Helvetica', sans-serif;
}

.targetv .vddoc-text {
  font-family: 'Santander-Regular', 'Arial', 'Helvetica', sans-serif;
}

.targetv .vd-text-content {
  font-family: 'Santander-Regular', 'Arial', 'Helvetica', sans-serif;
}

/* Titulo de la cuenta regresiva del video-selfie */
.txt-countDown-Title {
  line-height: 1;
  width: 100%;
  text-align: center;
  color: white;
  border-color: black;
  -webkit-text-stroke: 0.1px black;
}

/* Subtitulo de la cuenta regresiva del video-selfie */
.txt-countDown-Subtitle {
  line-height: 1;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  color: white;
  border-color: black;
  -webkit-text-stroke: 0.2px black;
  font-weight: bold;
}

/*********************************************************** ESTILOS MEDIA QUERY ****************************************/
/****************************************************************************************************************************/
/****************************************************************************************************************************/
/* ESTILO PARA EL PREVIEW DEL DOCUMENTO DE IDENTIDAD --PORTRAIT */
@media (orientation: portrait) {

  .targetDoc .vd-detection-modal-content.vd-confirmation div.vd-text-content {
    white-space: normal;
    overflow: auto;
    font-family: 'Santander-Regular', 'Arial', 'Helvetica', sans-serif;
  }

  /* VISIBLE - INVISIBLE FLAMA CAPTURA DE SELFIE */
  .flamaSelfie{
    visibility: visible;
  }

  /* OCULTA LAS VENTANAS DE AYUDA EN LA VIDEO-SELFIE */
  .targetv .GlowingOutline__Styled-u7l6ny-0 {
    visibility: hidden;
  }

  /* OCULTA TITULOS VIDEO-SELFIE */
  .txt-countDown-Title,.txt-countDown-Subtitle{
    visibility: visible;
  }

  /*BODY - MODO PORTRAIT */
  .body {
    font-family: 'Santander-Regular', 'Arial', 'Helvetica', sans-serif;
    display: flex;
    table-layout: fixed;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding-bottom: 45%;
    padding-left: 0;
    margin: 0;
    padding-right: 0;
    font-size: 1em;
    /* overflow: hidden; */
    position: relative;
  }

  /* OCULTA SCROLLBAR - MODO PORTRAIT */
  /* body { */
    /* overflow: hidden; */
    /* Hide scrollbars */
  /* } */

  /* DIV GENERAL DE INFO - MODO PORTRAIT*/
  .body-info-documents {
    display: inherit;
    table-layout: fixed;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background: #ffffff;
    color: #000000;
    flex-direction: column;
    padding-bottom: 45%;
  }

  /* BOTON DE CONTINUAR LA CAPTURA - MODO PORTRAIT*/
  .body-button-red {
    font-family: 'Santander-Regular', sans-serif;
    box-shadow: 0 10px 12px 0 rgba(193,192,199,1.00);
    background-color: #f5dea9;
    cursor: pointer;
    /* border-radius: 24px; */
    border: 0;
    color: #000;
    position: absolute;
    bottom: 10%;
  }

  /* PREVIEW DEL DOCUMENTO BOTON DE CONTINUAR, PORTRAIT */
  .targetDoc .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue,
  .targetDoc .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continuex {
    background-color: #f5dea9;
    font-family: 'Santander-Regular', sans-serif;
    cursor: pointer;
    /* border-radius: 24px; */
    border: 0;
    color: #000;
    font-weight: normal;
    width: 164.7px;
    height: 48px;
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    font-size: 18px;
  }

  /* PREVIEW DEL DOCUMENTO DE IDENTIDAD, CONTENEDOR*/
  .target .vd-detection-modal-content.vd-confirmation div.vd-content {
    position: absolute;
    height: 50%;
    top: 15%;
    width: 80%;
  }

  /* PREVIEW DEL DOCUMENTO DE IDENTIDAD, CONTENEDOR -- FULLSCREEN */
  :-webkit-full-screen .target .vd-detection-modal-content.vd-confirmation div.vd-content .vd-image-frame {
    height: 75%;
    width: 90%;
    max-width: 90%;
  }

  /* PREVIEW DEL DOCUMENTO DE IDENTIDAD, BOTONES CONFIRMAR -- FULLSCREEN */
  :-webkit-full-screen .target .vd-detection-modal-content>div div.vd-buttons-container {
    position: absolute;
    bottom: 3%;
    display: flex;
    table-layout: fixed;
    justify-content: space-around;
    padding: 0 1%;
  }

  /* PREVIEW DEL DOCUMENTO DE IDENTIDAD, BOTONES CONFIRMAR*/
  .target .vd-detection-modal-content>div div.vd-buttons-container {
    position: absolute;
    bottom: 10%;
    display: inherit;
    table-layout: fixed;
    justify-content: space-around;
    padding: 0 1%;
  }

  #targetF > div > div > div > div:nth-child(1) > div.GlowingOutline__Styled-u7l6ny-0.iXQTKM > div.vd-guides.vd-cover-detection{
    visibility: visible;
  }

  #targetF > div > div > div > div:nth-child(1) > div.GlowingOutline__Styled-u7l6ny-0.dKzHpW > div.vd-guides.vd-cover-detection{
    visibility: visible;
  }
}

/* ESTILO PARA EL PREVIEW DEL DOCUMENTO DE IDENTIDAD --LANDSCAPE */
@media (orientation: landscape) {
  /*ESTILO PARA EL TITULO DE MENSAJE EN LA CAPTURA DOCU*/
  .targetDoc .vd-detection-modal-content.vd-confirmation div.vd-text-content {
    white-space: nowrap;
    font-size: 0.85em;
    overflow: hidden;
    font-family: 'Santander-Regular', 'Arial', 'Helvetica', sans-serif;
  }

  /* VISIBLE - INVISIBLE FLAMA CAPTURA DE SELFIE */
  .flamaSelfie{
    visibility: hidden;
  }

  /* OCULTA LAS VENTANAS DE AYUDA EN LA VIDEO-SELFIE */
  .targetv .GlowingOutline__Styled-u7l6ny-0 {
    visibility: visible;
  }

  /* OCULTA TITULOS VIDEO-SELFIE */
  .txt-countDown-Title,.txt-countDown-Subtitle{
    visibility: hidden;
  }

  /* HABILITA SCROLLBAR | MODO LANDSCAPE */
  body {
    overflow: auto;
  }

  /* BOTON DE CONTINUAR LA CAPTURA - MODO LANDSCAPE*/
  .body-button-red {
    font-family: 'Santander-Regular', sans-serif;
    box-shadow: 0 10px 12px 0 rgba(193,192,199,1.00);
    background-color: #f5dea9;
    cursor: pointer;
    /* border-radius: 24px; */
    border: 0;
    color: #000;
  }

  /* DIV GENERAL DE INFO - MODO LANDSCAPE*/
  .body-info-documents {
    display: inherit;
    table-layout: fixed;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background: #ffffff;
    color: #000000;
    flex-direction: column;
  }

  /*BODY - MODO LANDSCAPE */
  .body {
    display: inherit;
    table-layout: fixed;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  /* PREVIEW DEL DOCUMENTO BOTON DE CONTINUAR-REINTENTAR, LANDSCAPE */
  .targetDoc .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue {
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    background-color: #f5dea9;
    font-family: 'Santander-Regular', sans-serif;
    cursor: pointer;
    /* border-radius: 24px; */
    border: 0;
    color: #000000;
    font-weight: normal;
    width: 35%;
  }

  .targetDoc .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continuex {
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    background-color: #f5dea9;
    font-family: 'Santander-Regular', sans-serif;
    cursor: pointer;
    /* border-radius: 24px; */
    border: 0;
    color: #000000;
    font-weight: normal;
    width: 164.7px;
    height: 48px;
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    font-size: 18px;    
  }

  /* PREVIEW DEL DOCUMENTO DE IDENTIDAD, CONTENEDOR*/
  .target .vd-detection-modal-content.vd-confirmation div.vd-content {
    height: 80%;
    position: absolute;
    top: 55%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  /* PREVIEW DEL DOCUMENTO DE IDENTIDAD, CONTENEDOR -- FULLSCREEN */
  :-webkit-full-screen .target .vd-detection-modal-content.vd-confirmation div.vd-content{
    height: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  /* PREVIEW DEL DOCUMENTO DE IDENTIDAD, CONTENEDOR -- FULLSCREEN */
  :-webkit-full-screen .target .vd-detection-modal-content.vd-confirmation div.vd-content .vd-image-frame {
    height: 100%;
    width: 45vw; /* AJUSTA EL ANCHO DE TANIA OBU */
    max-width: 45vw;
  }

  /* PREVIEW DEL DOCUMENTO DE IDENTIDAD, BOTONES CONFIRMAR -- FULLSCREEN */
  :-webkit-full-screen .target .vd-detection-modal-content>div div.vd-buttons-container {
    position: absolute;
    bottom: 2%;
    display: flex;
    table-layout: fixed;
    justify-content: space-around;
    padding: 0 1%;
  }

  /* PREVIEW DEL DOCUMENTO DE IDENTIDAD, BOTONES CONFIRMAR*/
  .target .vd-detection-modal-content>div div.vd-buttons-container {
    position: absolute;
    bottom: 2%;
    display: flex;
    table-layout: fixed;
    justify-content: space-around;
    padding: 0 1%;
  }

  .targetf .GlowingOutline__Styled-u7l6ny-0 div.vd-guides div.vd-cover-detection {
    visibility: hidden;
  }

  .postion-flame-top .txt-foto {
    visibility: hidden;
  }

  #targetF > div > div > div > div:nth-child(1) > div.GlowingOutline__Styled-u7l6ny-0.iXQTKM > div.vd-guides.vd-cover-detection{
    visibility: hidden;
  }

  #targetF > div > div > div > div:nth-child(1) > div.GlowingOutline__Styled-u7l6ny-0.dKzHpW > div.vd-guides.vd-cover-detection{
    visibility: hidden;
  }
}

/********************** ESTILOS MEDIA QUERY | PORTRAIT ********************/
/************************************************************************/
/***********************************************************************/
@media all and (min-width:320px) and (orientation: portrait) {

  /*************************************** COMUNES -PORTRAIT ***********************/
  /*BODY - MODO PORTRAIT */
  .body {font-size: 1em;}
  /* BOTON DE CONTINUAR LA CAPTURA - MODO PORTRAIT*/
  .body-button-red {width: 164.7px;height: 48px;font-size: 1em;
    box-shadow: 0 10px 12px 0 rgba(193,192,199,1.00);
  }
  /* PREVIEW DEL DOCUMENTO BOTON DE CONTINUAR, PORTRAIT */
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue,
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continuex {
    width: 164.7px;
    height: 48px;
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    font-size: 18px;
  }
  /*************************************** ESTILOS DE LA CAPTURA DEL INE - PORTRAIT ***********************/
  /* TIPO DE LETRA BOLD, TITULOS - PORTRAIT */
  .font-bold {font-size: 1em;}
  /* TITULOS PARA TEXTOS GDES - PORTRAIT */
  .font-boldLongText {font-size: 0.9em;}
  /* ESTILO PARA LOS MENSAJES QUE INDICAN EL TIPO DE CAPTURA  - PORTRAIT*/
  .fs-p7em {font-size: 0.75em;} /* VALIDADO */
  /* ESTILO PARA LOS MENSAJES QUE INDICAN LA INFO. DE CAPTURA VIDEO-SELFIE - PORTRAIT*/
  .fs-p6em {font-size: 0.7em;}
  /* ESTILO PARA LOS MENSAJES EN PREVIEWS - PORTRAIT*/
  .line-height-1 {margin-top: 10px;}
  /* ESTILO PARA LOS MENSAJES - PORTRAIT*/
  .body-text-info-documents {font-size: 1.3em;}
  /* ESTILO PARA LOS MENSAJES - PORTRAIT*/
  .body-text {font-size: 1.4em;}
  /* BTN MODAL CONTINUE-OK OPCION - PORTRAIT*/
  .modal-button-red {width: 150px;height: 48px;font-size: 22px;
    box-shadow: 0 10px 12px 0 rgba(193,192,199,1.00);
    border-radius: 24px;
  }
  /* BTN MODAL EMPTY OPCION - PORTRAIT*/
  .modal-button-white {width: 150px;height: 48px;
    border-radius: 24px;
    font-size: 22px;
  }
  /* MENSAJE, CAPTURA DEL DOCUMENTO- PORTRAIT*/
  .target .vd-detection-modal-content.vd-confirmation div.vd-text-content {font-size: 1em;}
  /* BTN REINTENTAR EN EL PREVIEW DEL DOCUMENTO - PORTRAIT*/
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button {width: 164.7px;height: 48px;font-size: 18px;}
  /* Titulo del mensaje - PORTRAIT*/
  .target .vddoc-text {font-size: 1em;}
  .target .vddoc-high-visibility {font-size: 1em;}

  /********************** ESTILOS DE LA CAPTURA DEL SELFIE - PORTRAIT********************/
  /* MENSAJE, DEL PREVIEW, CAPTURA FOTO - PORTRAIT*/
  .targetf .vd-text-content {font-size: large !important;}
  /* MENSAJE ASEGURATE QUE TU ROSTRO ESTA DENTRO DEL OVALO - PORTRAIT*/
  .postion-flame-top .txt-foto {font-size: 1em;}
  /* BTN CONTINUAR PREVIEW SELFIE - PORTRAIT*/
  .targetf .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue {
    width: 164px;
    height: 48px;
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    /* border-radius: 24px; */
    font-size: 18px;
  }
  /* BTN CANCELAR PREVIEW SELFIE - PORTRAIT*/
  .targetf .vd-detection-modal-content>div div.vd-buttons-container button.vd-button {
    width: 164.7px;
    height: 48px;
    border-radius: 24px;
    font-size: 18px;
  }
  .targetf .vddoc-high-visibility {font-size: 1em;}
  .targetf .vddoc-text {font-size: 1em;}
  /* .targetf .vd-detection-modal-content.vd-confirmation div.vd-text-content {
    position: absolute !important;
    top: 4% !important;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

  /********************** ESTILOS DE LA CAPTURA DEL VIDEO-SELFIE - PORTRAIT********************/
  .targetv .vddoc-high-visibility {font-size: 1em;}
  .targetv .vddoc-text {font-size: 1em;}
  /* Titulo de la cuenta regresiva del video-selfie - PORTRAIT*/
  .txt-countDown-Title {font-size: 1.3em;}
  /* Subtitulo de la cuenta regresiva del video-selfie - PORTRAIT*/
  .txt-countDown-Subtitle {font-size: 1.4em;}
  /*ESTILO IMAGEN ALUSIVA A LA CAPTURA - MODO PORTRAIT */
  .image-center {height: 150px;}
}

@media all and (min-width:481px) and (orientation: portrait) {
  /*************************************** COMUNES -PORTRAIT ***********************/
  /*BODY - MODO PORTRAIT */
  .body {font-size: 1em;}
  /* BOTON DE CONTINUAR LA CAPTURA - MODO PORTRAIT*/
  .body-button-red {width: 164.7px;height: 48px;font-size: 1em;
    box-shadow: 0 10px 12px 0 rgba(193,192,199,1.00);
  }
  /* PREVIEW DEL DOCUMENTO BOTON DE CONTINUAR, PORTRAIT */
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue,
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continuex {
    width: 164.7px;
    height: 48px;
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    font-size: 18px;
  }
  /*************************************** ESTILOS DE LA CAPTURA DEL INE - PORTRAIT ***********************/
  /* TIPO DE LETRA BOLD, TITULOS - PORTRAIT */
  .font-bold {font-size: 1.2em;}
  /* TITULOS PARA TEXTOS GDES - PORTRAIT */
  .font-boldLongText {font-size: 0.9em;}
  /* ESTILO PARA LOS MENSAJES QUE INDICAN EL TIPO DE CAPTURA  - PORTRAIT*/
  .fs-p7em {font-size: 0.78em;}
  /* ESTILO PARA LOS MENSAJES QUE INDICAN LA INFO. DE CAPTURA VIDEO-SELFIE - PORTRAIT*/
  .fs-p6em {font-size: 0.7em;}
  /* ESTILO PARA LOS MENSAJES EN PREVIEWS - PORTRAIT*/
  .line-height-1 {margin-top: 10px;}
  /* ESTILO PARA LOS MENSAJES - PORTRAIT*/
  .body-text-info-documents {font-size: 1.3em;}
  /* ESTILO PARA LOS MENSAJES - PORTRAIT*/
  .body-text {font-size: 1.4em;}
  /* BTN MODAL CONTINUE-OK OPCION - PORTRAIT*/
  .modal-button-red {width: 150px;height: 48px;font-size: 22px;
    box-shadow: 0 10px 12px 0 rgba(193,192,199,1.00);
    border-radius: 24px;
  }
  /* BTN MODAL EMPTY OPCION - PORTRAIT*/
  .modal-button-white {width: 150px;height: 48px;
    border-radius: 24px;
    font-size: 22px;
  }
  /* MENSAJE, CAPTURA DEL DOCUMENTO- PORTRAIT*/
  .target .vd-detection-modal-content.vd-confirmation div.vd-text-content {font-size: 1em;}
  /* BTN REINTENTAR EN EL PREVIEW DEL DOCUMENTO - PORTRAIT*/
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button {width: 164.7px;height: 48px;font-size: 18px;}
  /* Titulo del mensaje - PORTRAIT*/
  .target .vddoc-text {font-size: 1em;}
  .target .vddoc-high-visibility {font-size: 1em;}

  /********************** ESTILOS DE LA CAPTURA DEL SELFIE - PORTRAIT********************/
  /* MENSAJE, DEL PREVIEW, CAPTURA FOTO - PORTRAIT*/
  .targetf .vd-text-content {font-size: large !important;}
  /* MENSAJE ASEGURATE QUE TU ROSTRO ESTA DENTRO DEL OVALO - PORTRAIT*/
  .postion-flame-top .txt-foto {font-size: 1em;}
  /* BTN CONTINUAR PREVIEW SELFIE - PORTRAIT*/
  .targetf .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue {
    width: 164px;
    height: 48px;
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    /* border-radius: 24px; */
    font-size: 18px;
  }
  /* BTN CANCELAR PREVIEW SELFIE - PORTRAIT*/
  .targetf .vd-detection-modal-content>div div.vd-buttons-container button.vd-button {
    width: 164.7px;
    height: 48px;
    /* border-radius: 24px; */
    font-size: 18px;
  }
  .targetf .vddoc-high-visibility {font-size: 1em;}
  .targetf .vddoc-text {font-size: 1em;}
  /********************** ESTILOS DE LA CAPTURA DEL VIDEO-SELFIE - PORTRAIT********************/
  .targetv .vddoc-high-visibility {font-size: 1em;}
  .targetv .vddoc-text {font-size: 1em;}
  /* Titulo de la cuenta regresiva del video-selfie - PORTRAIT*/
  .txt-countDown-Title {font-size: 1.3em;}
  /* Subtitulo de la cuenta regresiva del video-selfie - PORTRAIT*/
  .txt-countDown-Subtitle {font-size: 1.4em;}
  /*ESTILO IMAGEN ALUSIVA A LA CAPTURA - MODO PORTRAIT */
  .image-center {height: 150px;}
}

@media all and (min-width:641px) and (orientation: portrait) {
  /*************************************** COMUNES -PORTRAIT ***********************/
  /*BODY - MODO PORTRAIT */
  .body {font-size: 1em;}
  /* BOTON DE CONTINUAR LA CAPTURA - MODO PORTRAIT*/
  .body-button-red {width: 164.7px;height: 48px;font-size: 1em;
    box-shadow: 0 10px 12px 0 rgba(193,192,199,1.00);
  }
  /* PREVIEW DEL DOCUMENTO BOTON DE CONTINUAR, PORTRAIT */
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue,
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continuex {
    width: 164.7px;
    height: 48px;
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    font-size: 18px;
  }
  /*************************************** ESTILOS DE LA CAPTURA DEL INE - PORTRAIT ***********************/
  /* TIPO DE LETRA BOLD, TITULOS - PORTRAIT */
  .font-bold {font-size: 1em;}
  /* TITULOS PARA TEXTOS GDES - PORTRAIT */
  .font-boldLongText {font-size: 0.9em;}
  /* ESTILO PARA LOS MENSAJES QUE INDICAN EL TIPO DE CAPTURA  - PORTRAIT*/
  .fs-p7em {font-size: 0.78em;}
  /* ESTILO PARA LOS MENSAJES QUE INDICAN LA INFO. DE CAPTURA VIDEO-SELFIE - PORTRAIT*/
  .fs-p6em {font-size: 0.7em;}
  /* ESTILO PARA LOS MENSAJES EN PREVIEWS - PORTRAIT*/
  .line-height-1 {margin-top: 10px;}
  /* ESTILO PARA LOS MENSAJES - PORTRAIT*/
  .body-text-info-documents {font-size: 1.3em;}
  /* ESTILO PARA LOS MENSAJES - PORTRAIT*/
  .body-text {font-size: 1.4em;}
  /* BTN MODAL CONTINUE-OK OPCION - PORTRAIT*/
  .modal-button-red {width: 150px;height: 48px;font-size: 22px;
    box-shadow: 0 10px 12px 0 rgba(193,192,199,1.00);
    border-radius: 24px;
  }
  /* BTN MODAL EMPTY OPCION - PORTRAIT*/
  .modal-button-white {width: 150px;height: 48px;
    border-radius: 24px;
    font-size: 22px;
  }
  /* MENSAJE, CAPTURA DEL DOCUMENTO- PORTRAIT*/
  .target .vd-detection-modal-content.vd-confirmation div.vd-text-content {font-size: 1em;}
  /* BTN REINTENTAR EN EL PREVIEW DEL DOCUMENTO - PORTRAIT*/
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button {width: 164.7px;height: 48px;font-size: 18px;}
  /* Titulo del mensaje - PORTRAIT*/
  .target .vddoc-text {font-size: 1em;}
  .target .vddoc-high-visibility {font-size: 1em;}

  /********************** ESTILOS DE LA CAPTURA DEL SELFIE - PORTRAIT********************/
  /* MENSAJE, DEL PREVIEW, CAPTURA FOTO - PORTRAIT*/
  .targetf .vd-text-content {font-size: large !important;}
  /* MENSAJE ASEGURATE QUE TU ROSTRO ESTA DENTRO DEL OVALO - PORTRAIT*/
  .postion-flame-top .txt-foto {font-size: 1em;}
  /* BTN CONTINUAR PREVIEW SELFIE - PORTRAIT*/
  .targetf .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue {
    width: 164px;
    height: 48px;
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    border-radius: 24px;
    font-size: 18px;
  }
  /* BTN CANCELAR PREVIEW SELFIE - PORTRAIT*/
  .targetf .vd-detection-modal-content>div div.vd-buttons-container button.vd-button {
    width: 164.7px;
    height: 48px;
    border-radius: 24px;
    font-size: 18px;
  }
  .targetf .vddoc-high-visibility {font-size: 1em;}
  .targetf .vddoc-text {font-size: 1em;}
  /********************** ESTILOS DE LA CAPTURA DEL VIDEO-SELFIE - PORTRAIT********************/
  .targetv .vddoc-high-visibility {font-size: 1em;}
  .targetv .vddoc-text {font-size: 1em;}
  /* Titulo de la cuenta regresiva del video-selfie - PORTRAIT*/
  .txt-countDown-Title {font-size: 1.3em;}
  /* Subtitulo de la cuenta regresiva del video-selfie - PORTRAIT*/
  .txt-countDown-Subtitle {font-size: 1.4em;}
  /*ESTILO IMAGEN ALUSIVA A LA CAPTURA - MODO PORTRAIT */
  .image-center {height: 150px;}
}

@media all and (min-width:961px) and (orientation: portrait) {
  /*************************************** COMUNES -PORTRAIT ***********************/
  /*BODY - MODO PORTRAIT */
  .body {font-size: 1em;}
  /* BOTON DE CONTINUAR LA CAPTURA - MODO PORTRAIT*/
  .body-button-red {width: 164.7px;height: 48px;font-size: 1em;
    box-shadow: 0 10px 12px 0 rgba(193,192,199,1.00);
  }
  /* PREVIEW DEL DOCUMENTO BOTON DE CONTINUAR, PORTRAIT */
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue,
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continuex {
    width: 164.7px;
    height: 48px;
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    font-size: 18px;
  }
  /*************************************** ESTILOS DE LA CAPTURA DEL INE - PORTRAIT ***********************/
  /* TIPO DE LETRA BOLD, TITULOS - PORTRAIT */
  .font-bold {font-size: 1em;}
  /* TITULOS PARA TEXTOS GDES - PORTRAIT */
  .font-boldLongText {font-size: 0.9em;}
  /* ESTILO PARA LOS MENSAJES QUE INDICAN EL TIPO DE CAPTURA  - PORTRAIT*/
  .fs-p7em {font-size: 0.78em;}
  /* ESTILO PARA LOS MENSAJES QUE INDICAN LA INFO. DE CAPTURA VIDEO-SELFIE - PORTRAIT*/
  .fs-p6em {font-size: 0.7em;}
  /* ESTILO PARA LOS MENSAJES EN PREVIEWS - PORTRAIT*/
  .line-height-1 {margin-top: 10px;}
  /* ESTILO PARA LOS MENSAJES - PORTRAIT*/
  .body-text-info-documents {font-size: 1.3em;}
  /* ESTILO PARA LOS MENSAJES - PORTRAIT*/
  .body-text {font-size: 1.4em;}
  /* BTN MODAL CONTINUE-OK OPCION - PORTRAIT*/
  .modal-button-red {width: 150px;height: 48px;font-size: 22px;
    box-shadow: 0 10px 12px 0 rgba(193,192,199,1.00);
    border-radius: 24px;
  }
  /* BTN MODAL EMPTY OPCION - PORTRAIT*/
  .modal-button-white {width: 150px;height: 48px;
    border-radius: 24px;
    font-size: 22px;
  }
  /* MENSAJE, CAPTURA DEL DOCUMENTO- PORTRAIT*/
  .target .vd-detection-modal-content.vd-confirmation div.vd-text-content {font-size: 1em;}
  /* BTN REINTENTAR EN EL PREVIEW DEL DOCUMENTO - PORTRAIT*/
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button {width: 164.7px;height: 48px;font-size: 18px;}
  /* Titulo del mensaje - PORTRAIT*/
  .target .vddoc-text {font-size: 1em;}
  .target .vddoc-high-visibility {font-size: 1em;}

  /********************** ESTILOS DE LA CAPTURA DEL SELFIE - PORTRAIT********************/
  /* MENSAJE, DEL PREVIEW, CAPTURA FOTO - PORTRAIT*/
  .targetf .vd-text-content {font-size: large !important;}
  /* MENSAJE ASEGURATE QUE TU ROSTRO ESTA DENTRO DEL OVALO - PORTRAIT*/
  .postion-flame-top .txt-foto {font-size: 1em;}
  /* BTN CONTINUAR PREVIEW SELFIE - PORTRAIT*/
  .targetf .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue {
    width: 164px;
    height: 48px;
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    /* border-radius: 24px; */
    font-size: 18px;
  }
  /* BTN CANCELAR PREVIEW SELFIE - PORTRAIT*/
  .targetf .vd-detection-modal-content>div div.vd-buttons-container button.vd-button {
    width: 164.7px;
    height: 48px;
    /* border-radius: 24px; */
    font-size: 18px;
  }
  .targetf .vddoc-high-visibility {font-size: 1em;}
  .targetf .vddoc-text {font-size: 1em;}
  /********************** ESTILOS DE LA CAPTURA DEL VIDEO-SELFIE - PORTRAIT********************/
  .targetv .vddoc-high-visibility {font-size: 1em;}
  .targetv .vddoc-text {font-size: 1em;}
  /* Titulo de la cuenta regresiva del video-selfie - PORTRAIT*/
  .txt-countDown-Title {font-size: 1.3em;}
  /* Subtitulo de la cuenta regresiva del video-selfie - PORTRAIT*/
  .txt-countDown-Subtitle {font-size: 1.4em;}
  /*ESTILO IMAGEN ALUSIVA A LA CAPTURA - MODO PORTRAIT */
  .image-center {height: 150px;}
}

@media all and (min-width:1025px) and (orientation: portrait) {
  /*************************************** COMUNES -PORTRAIT ***********************/
  /*BODY - MODO PORTRAIT */
  .body {font-size: 1em;}
  /* BOTON DE CONTINUAR LA CAPTURA - MODO PORTRAIT*/
  .body-button-red {width: 164.7px;height: 48px;font-size: 1em;
    box-shadow: 0 10px 12px 0 rgba(193,192,199,1.00);
  }
  /* PREVIEW DEL DOCUMENTO BOTON DE CONTINUAR, PORTRAIT */
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue,
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continuex {
    width: 164.7px;
    height: 48px;
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    font-size: 18px;
  }
  /*************************************** ESTILOS DE LA CAPTURA DEL INE - PORTRAIT ***********************/
  /* TIPO DE LETRA BOLD, TITULOS - PORTRAIT */
  .font-bold {font-size: 1em;}
  /* TITULOS PARA TEXTOS GDES - PORTRAIT */
  .font-boldLongText {font-size: 0.9em;}
  /* ESTILO PARA LOS MENSAJES QUE INDICAN EL TIPO DE CAPTURA  - PORTRAIT*/
  .fs-p7em {font-size: 0.78em;}
  /* ESTILO PARA LOS MENSAJES QUE INDICAN LA INFO. DE CAPTURA VIDEO-SELFIE - PORTRAIT*/
  .fs-p6em {font-size: 0.7em;}
  /* ESTILO PARA LOS MENSAJES EN PREVIEWS - PORTRAIT*/
  .line-height-1 {margin-top: 10px;}
  /* ESTILO PARA LOS MENSAJES - PORTRAIT*/
  .body-text-info-documents {font-size: 1.3em;}
  /* ESTILO PARA LOS MENSAJES - PORTRAIT*/
  .body-text {font-size: 1.4em;}
  /* BTN MODAL CONTINUE-OK OPCION - PORTRAIT*/
  .modal-button-red {width: 150px;height: 48px;font-size: 22px;
    box-shadow: 0 10px 12px 0 rgba(193,192,199,1.00);
    border-radius: 24px;
  }
  /* BTN MODAL EMPTY OPCION - PORTRAIT*/
  .modal-button-white {width: 150px;height: 48px;
    border-radius: 24px;
    font-size: 22px;
  }
  /* MENSAJE, CAPTURA DEL DOCUMENTO- PORTRAIT*/
  .target .vd-detection-modal-content.vd-confirmation div.vd-text-content {font-size: 1em;}
  /* BTN REINTENTAR EN EL PREVIEW DEL DOCUMENTO - PORTRAIT*/
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button {width: 164.7px;height: 48px;font-size: 18px;}
  /* Titulo del mensaje - PORTRAIT*/
  .target .vddoc-text {font-size: 1em;}
  .target .vddoc-high-visibility {font-size: 1em;}

  /********************** ESTILOS DE LA CAPTURA DEL SELFIE - PORTRAIT********************/
  /* MENSAJE, DEL PREVIEW, CAPTURA FOTO - PORTRAIT*/
  .targetf .vd-text-content {font-size: large !important;}
  /* MENSAJE ASEGURATE QUE TU ROSTRO ESTA DENTRO DEL OVALO - PORTRAIT*/
  .postion-flame-top .txt-foto {font-size: 1em;}
  /* BTN CONTINUAR PREVIEW SELFIE - PORTRAIT*/
  .targetf .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue {
    width: 164px;
    height: 48px;
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    /* border-radius: 24px; */
    font-size: 18px;
  }
  /* BTN CANCELAR PREVIEW SELFIE - PORTRAIT*/
  .targetf .vd-detection-modal-content>div div.vd-buttons-container button.vd-button {
    width: 164.7px;
    height: 48px;
    /* border-radius: 24px; */
    font-size: 18px;
  }
  .targetf .vddoc-high-visibility {font-size: 1em;}
  .targetf .vddoc-text {font-size: 1em;}
  /********************** ESTILOS DE LA CAPTURA DEL VIDEO-SELFIE - PORTRAIT********************/
  .targetv .vddoc-high-visibility {font-size: 1em;}
  .targetv .vddoc-text {font-size: 1em;}
  /* Titulo de la cuenta regresiva del video-selfie - PORTRAIT*/
  .txt-countDown-Title {font-size: 1.3em;}
  /* Subtitulo de la cuenta regresiva del video-selfie - PORTRAIT*/
  .txt-countDown-Subtitle {font-size: 1.4em;}
  /*ESTILO IMAGEN ALUSIVA A LA CAPTURA - MODO PORTRAIT */
  .image-center {height: 150px;}
}

@media all and (min-width:1281px) and (orientation: portrait) {
  /*************************************** COMUNES -PORTRAIT ***********************/
  /*BODY - MODO PORTRAIT */
  .body {font-size: 1em;}
  /* BOTON DE CONTINUAR LA CAPTURA - MODO PORTRAIT*/
  .body-button-red {width: 164.7px;height: 48px;font-size: 1em;
    box-shadow: 0 10px 12px 0 rgba(193,192,199,1.00);
  }
  /* PREVIEW DEL DOCUMENTO BOTON DE CONTINUAR, PORTRAIT */
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue,
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continuex {
    width: 164.7px;
    height: 48px;
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    font-size: 18px;
  }
  /*************************************** ESTILOS DE LA CAPTURA DEL INE - PORTRAIT ***********************/
  /* TIPO DE LETRA BOLD, TITULOS - PORTRAIT */
  .font-bold {font-size: 1em;}
  /* TITULOS PARA TEXTOS GDES - PORTRAIT */
  .font-boldLongText {font-size: 0.9em;}
  /* ESTILO PARA LOS MENSAJES QUE INDICAN EL TIPO DE CAPTURA  - PORTRAIT*/
  .fs-p7em {font-size: 0.78em;}
  /* ESTILO PARA LOS MENSAJES QUE INDICAN LA INFO. DE CAPTURA VIDEO-SELFIE - PORTRAIT*/
  .fs-p6em {font-size: 0.7em;}
  /* ESTILO PARA LOS MENSAJES EN PREVIEWS - PORTRAIT*/
  .line-height-1 {margin-top: 10px;}
  /* ESTILO PARA LOS MENSAJES - PORTRAIT*/
  .body-text-info-documents {font-size: 1.3em;}
  /* ESTILO PARA LOS MENSAJES - PORTRAIT*/
  .body-text {font-size: 1.4em;}
  /* BTN MODAL CONTINUE-OK OPCION - PORTRAIT*/
  .modal-button-red {width: 150px;height: 48px;font-size: 22px;
    box-shadow: 0 10px 12px 0 rgba(193,192,199,1.00);
    border-radius: 24px;
  }
  /* BTN MODAL EMPTY OPCION - PORTRAIT*/
  .modal-button-white {width: 150px;height: 48px;
    border-radius: 24px;
    font-size: 22px;
  }
  /* MENSAJE, CAPTURA DEL DOCUMENTO- PORTRAIT*/
  .target .vd-detection-modal-content.vd-confirmation div.vd-text-content {font-size: 1em;}
  /* BTN REINTENTAR EN EL PREVIEW DEL DOCUMENTO - PORTRAIT*/
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button {width: 164.7px;height: 48px;font-size: 18px;}
  /* Titulo del mensaje - PORTRAIT*/
  .target .vddoc-text {font-size: 1em;}
  .target .vddoc-high-visibility {font-size: 1em;}

  /********************** ESTILOS DE LA CAPTURA DEL SELFIE - PORTRAIT********************/
  /* MENSAJE, DEL PREVIEW, CAPTURA FOTO - PORTRAIT*/
  .targetf .vd-text-content {font-size: large !important;}
  /* MENSAJE ASEGURATE QUE TU ROSTRO ESTA DENTRO DEL OVALO - PORTRAIT*/
  .postion-flame-top .txt-foto {font-size: 1em;}
  /* BTN CONTINUAR PREVIEW SELFIE - PORTRAIT*/
  .targetf .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue {
    width: 164px;
    height: 48px;
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    border-radius: 24px;
    font-size: 18px;
  }
  /* BTN CANCELAR PREVIEW SELFIE - PORTRAIT*/
  .targetf .vd-detection-modal-content>div div.vd-buttons-container button.vd-button {
    width: 164.7px;
    height: 48px;
    border-radius: 24px;
    font-size: 18px;
  }
  .targetf .vddoc-high-visibility {font-size: 1em;}
  .targetf .vddoc-text {font-size: 1em;}
  /********************** ESTILOS DE LA CAPTURA DEL VIDEO-SELFIE - PORTRAIT********************/
  .targetv .vddoc-high-visibility {font-size: 1em;}
  .targetv .vddoc-text {font-size: 1em;}
  /* Titulo de la cuenta regresiva del video-selfie - PORTRAIT*/
  .txt-countDown-Title {font-size: 1.3em;}
  /* Subtitulo de la cuenta regresiva del video-selfie - PORTRAIT*/
  .txt-countDown-Subtitle {font-size: 1.4em;}
  /*ESTILO IMAGEN ALUSIVA A LA CAPTURA - MODO PORTRAIT */
  .image-center {height: 150px;}
}

/********************** ESTILOS MEDIA QUERY | LANDSCAPE********************/
/************************************************************************/
/***********************************************************************/
@media all and (min-width:320px) and (orientation: landscape) {
 /*************************************** COMUNES - LANDSCAPE ***********************/
  /*BODY - MODO LANDSCAPE */
  .body {font-size: 1em;}
  /* BOTON DE CONTINUAR LA CAPTURA - MODO LANDSCAPE*/
  .body-button-red {width: 164.7px;height: 48px;font-size: 1em;
    box-shadow: 0 10px 12px 0 rgba(193,192,199,1.00);
  }
  /* PREVIEW DEL DOCUMENTO BOTON DE CONTINUAR-REINTENTAR, LANDSCAPE */
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue,
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continuex {
    width: 164.7px;
    height: 48px;
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    font-size: 18px;
  }

  /*************************************** ESTILOS DE LA CAPTURA DEL INE - MODO LANDSCAPE***********************/
  /* TIPO DE LETRA BOLD, TITULOS - MODO LANDSCAPE*/
  .font-bold {font-size: 1em;}
  /* TITULOS PARA TEXTOS GDES - MODO LANDSCAPE*/
  .font-boldLongText {font-size: 0.9em;}
  /* ESTILO PARA LOS MENSAJES QUE INDICAN EL TIPO DE CAPTURA - MODO LANDSCAPE*/
  .fs-p7em {font-size: 0.78em;}
  /* ESTILO PARA LOS MENSAJES QUE INDICAN LA INFO. DE CAPTURA VIDEO-SELFIE - MODO LANDSCAPE*/
  .fs-p6em {font-size: 0.7em;}
  /* ESTILO PARA LOS MENSAJES EN PREVIEWS - MODO LANDSCAPE*/
  .line-height-1 {margin-top: 10px;}
  /* ESTILO PARA LOS MENSAJES - MODO LANDSCAPE*/
  .body-text-info-documents {font-size: 1.3em;}
  /* ESTILO PARA LOS MENSAJES - MODO LANDSCAPE*/
  .body-text {font-size: 1.4em;}
  /* BTN MODAL CONTINUE-OK OPCION - MODO LANDSCAPE*/
  .modal-button-red {width: 150px;height: 48px;font-size: 22px;
    box-shadow: 0 10px 12px 0 rgba(193,192,199,1.00);
    border-radius: 24px;
  }
  /* BTN MODAL EMPTY OPCION - MODO LANDSCAPE*/
  .modal-button-white {width: 150px;height: 48px;
    border-radius: 24px;
    font-size: 22px;
  }
  /* MENSAJE, CAPTURA DEL DOCUMENTO - MODO LANDSCAPE*/
  .target .vd-detection-modal-content.vd-confirmation div.vd-text-content {font-size: 1em;}
  /* BTN REINTENTAR EN EL PREVIEW DEL DOCUMENTO - MODO LANDSCAPE*/
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button {width: 164.7px;height: 48px;font-size: 18px;}
  /* Titulo del mensaje - MODO LANDSCAPE*/
  .target .vddoc-text {font-size: 1em;}
  .target .vddoc-high-visibility {font-size: 1em;}

  /********************** ESTILOS DE LA CAPTURA DEL SELFIE - MODO LANDSCAPE********************/
  /* MENSAJE, DEL PREVIEW, CAPTURA FOTO - MODO LANDSCAPE*/
  .targetf .vd-text-content {font-size: large !important;}
  /* MENSAJE ASEGURATE QUE TU ROSTRO ESTA DENTRO DEL OVALO - MODO LANDSCAPE*/
  .postion-flame-top .txt-foto {font-size: 1em;}
  /* BTN CONTINUAR PREVIEW SELFIE - MODO LANDSCAPE */
  .targetf .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue {
    width: 164px;
    height: 48px;
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    border-radius: 24px;
    font-size: 18px;
  }
  /* BTN CANCELAR PREVIEW SELFIE - MODO LANDSCAPE */
  .targetf .vd-detection-modal-content>div div.vd-buttons-container button.vd-button {
    width: 164.7px;
    height: 48px;
    border-radius: 24px;
    font-size: 18px;
  }
  .targetf .vddoc-high-visibility {font-size: 1em;}
  .targetf .vddoc-text {font-size: 1em;}
  /********************** ESTILOS DE LA CAPTURA DEL VIDEO-SELFIE - MODO LANDSCAPE********************/
  .targetv .vddoc-high-visibility {font-size: 1em;}
  .targetv .vddoc-text {font-size: 1em;}
  /* Titulo de la cuenta regresiva del video-selfie - MODO LANDSCAPE*/
  .txt-countDown-Title {font-size: 1.3em;}
  /* Subtitulo de la cuenta regresiva del video-selfie - MODO LANDSCAPE*/
  .txt-countDown-Subtitle {font-size: 1.4em;}
  /*ESTILO IMAGEN ALUSIVA A LA CAPTURA - MODO LANDSCAPE */
  .image-center {height: 100px;}
}
@media all and (min-width:481px) and (orientation: landscape) {
  /*************************************** COMUNES - LANDSCAPE ***********************/
  /*BODY - MODO LANDSCAPE */
  .body {font-size: 1em;}
  /* BOTON DE CONTINUAR LA CAPTURA - MODO LANDSCAPE*/
  .body-button-red {width: 164.7px;height: 48px;font-size: 1em;
    box-shadow: 0 10px 12px 0 rgba(193,192,199,1.00);
  }
  /* PREVIEW DEL DOCUMENTO BOTON DE CONTINUAR-REINTENTAR, LANDSCAPE */
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue,
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continuex {
    width: 164.7px;
    height: 48px;
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    font-size: 18px;
  }

  /*************************************** ESTILOS DE LA CAPTURA DEL INE - MODO LANDSCAPE***********************/
  /* TIPO DE LETRA BOLD, TITULOS - MODO LANDSCAPE*/
  .font-bold {font-size: 1em;}
  /* TITULOS PARA TEXTOS GDES - MODO LANDSCAPE*/
  .font-boldLongText {font-size: 0.9em;}
  /* ESTILO PARA LOS MENSAJES QUE INDICAN EL TIPO DE CAPTURA - MODO LANDSCAPE*/
  .fs-p7em {font-size: 0.78em;}
  /* ESTILO PARA LOS MENSAJES QUE INDICAN LA INFO. DE CAPTURA VIDEO-SELFIE - MODO LANDSCAPE*/
  .fs-p6em {font-size: 0.7em;}
  /* ESTILO PARA LOS MENSAJES EN PREVIEWS - MODO LANDSCAPE*/
  .line-height-1 {margin-top: 10px;}
  /* ESTILO PARA LOS MENSAJES - MODO LANDSCAPE*/
  .body-text-info-documents {font-size: 1.3em;}
  /* ESTILO PARA LOS MENSAJES - MODO LANDSCAPE*/
  .body-text {font-size: 1.4em;}
  /* BTN MODAL CONTINUE-OK OPCION - MODO LANDSCAPE*/
  .modal-button-red {width: 150px;height: 48px;font-size: 22px;
    box-shadow: 0 10px 12px 0 rgba(193,192,199,1.00);
    border-radius: 24px;
  }
  /* BTN MODAL EMPTY OPCION - MODO LANDSCAPE*/
  .modal-button-white {width: 150px;height: 48px;
    border-radius: 24px;
    font-size: 22px;
  }
  /* MENSAJE, CAPTURA DEL DOCUMENTO - MODO LANDSCAPE*/
  .target .vd-detection-modal-content.vd-confirmation div.vd-text-content {font-size: 0.85em;} /* AJUSTA AL DISPOSITIVO DE IVAN OBU */
  /* BTN REINTENTAR EN EL PREVIEW DEL DOCUMENTO - MODO LANDSCAPE*/
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button {width: 164.7px;height: 48px;font-size: 18px;}
  /* Titulo del mensaje - MODO LANDSCAPE*/
  .target .vddoc-text {font-size: 1em;}
  .target .vddoc-high-visibility {font-size: 1em;}

  /********************** ESTILOS DE LA CAPTURA DEL SELFIE - MODO LANDSCAPE********************/
  /* MENSAJE, DEL PREVIEW, CAPTURA FOTO - MODO LANDSCAPE*/
  .targetf .vd-text-content {font-size: large !important;}
  /* MENSAJE ASEGURATE QUE TU ROSTRO ESTA DENTRO DEL OVALO - MODO LANDSCAPE*/
  .postion-flame-top .txt-foto {font-size: 1em;}
  /* BTN CONTINUAR PREVIEW SELFIE - MODO LANDSCAPE */
  .targetf .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue {
    width: 164px;
    height: 48px;
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    border-radius: 24px;
    font-size: 18px;
  }
  /* BTN CANCELAR PREVIEW SELFIE - MODO LANDSCAPE */
  .targetf .vd-detection-modal-content>div div.vd-buttons-container button.vd-button {
    width: 164.7px;
    height: 48px;
    border-radius: 24px;
    font-size: 18px;
  }
  .targetf .vddoc-high-visibility {font-size: 1em;}
  .targetf .vddoc-text {font-size: 1em;}
  /********************** ESTILOS DE LA CAPTURA DEL VIDEO-SELFIE - MODO LANDSCAPE********************/
  .targetv .vddoc-high-visibility {font-size: 1em;}
  .targetv .vddoc-text {font-size: 1em;}
  /* Titulo de la cuenta regresiva del video-selfie - MODO LANDSCAPE*/
  .txt-countDown-Title {font-size: 1.3em;}
  /* Subtitulo de la cuenta regresiva del video-selfie - MODO LANDSCAPE*/
  .txt-countDown-Subtitle {font-size: 1.4em;}
  /*ESTILO IMAGEN ALUSIVA A LA CAPTURA - MODO LANDSCAPE */
  .image-center {height: 100px;}
}

@media all and (min-width:641px) and (orientation: landscape) {
  /*************************************** COMUNES - LANDSCAPE ***********************/
  /*BODY - MODO LANDSCAPE */
  .body {font-size: 1em;}
  /* BOTON DE CONTINUAR LA CAPTURA - MODO LANDSCAPE*/
  .body-button-red {width: 164.7px;height: 48px;font-size: 1em;
    box-shadow: 0 10px 12px 0 rgba(193,192,199,1.00);
  }
  /* PREVIEW DEL DOCUMENTO BOTON DE CONTINUAR-REINTENTAR, LANDSCAPE */
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue,
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continuex {
    width: 164.7px;
    height: 48px;
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    font-size: 18px;
  }

  /*************************************** ESTILOS DE LA CAPTURA DEL INE - MODO LANDSCAPE***********************/
  /* TIPO DE LETRA BOLD, TITULOS - MODO LANDSCAPE*/
  .font-bold {font-size: 1.2rem;}
  /* TITULOS PARA TEXTOS GDES - MODO LANDSCAPE*/
  .font-boldLongText {font-size: 0.9em;}
  /* ESTILO PARA LOS MENSAJES QUE INDICAN EL TIPO DE CAPTURA - MODO LANDSCAPE*/
  .fs-p7em {font-size: 1em;}
  /* ESTILO PARA LOS MENSAJES QUE INDICAN LA INFO. DE CAPTURA VIDEO-SELFIE - MODO LANDSCAPE*/
  .fs-p6em {font-size: 0.7em;}
  /* ESTILO PARA LOS MENSAJES EN PREVIEWS - MODO LANDSCAPE*/
  .line-height-1 {margin-top: 10px;}
  /* ESTILO PARA LOS MENSAJES - MODO LANDSCAPE*/
  .body-text-info-documents {font-size: 1.3em;}
  /* ESTILO PARA LOS MENSAJES - MODO LANDSCAPE*/
  .body-text {font-size: 1.4em;}
  /* BTN MODAL CONTINUE-OK OPCION - MODO LANDSCAPE*/
  .modal-button-red {width: 150px;height: 48px;font-size: 22px;
    box-shadow: 0 10px 12px 0 rgba(193,192,199,1.00);
    border-radius: 24px;
  }
  /* BTN MODAL EMPTY OPCION - MODO LANDSCAPE*/
  .modal-button-white {width: 150px;height: 48px;
    border-radius: 24px;
    font-size: 22px;
  }
  /* MENSAJE, CAPTURA DEL DOCUMENTO - MODO LANDSCAPE*/
  .target .vd-detection-modal-content.vd-confirmation div.vd-text-content {font-size: 1em;}
  /* BTN REINTENTAR EN EL PREVIEW DEL DOCUMENTO - MODO LANDSCAPE*/
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button {width: 164.7px;height: 48px;font-size: 18px;}
  /* Titulo del mensaje - MODO LANDSCAPE*/
  .target .vddoc-text {font-size: 1em;}
  .target .vddoc-high-visibility {font-size: 1em;}

  /********************** ESTILOS DE LA CAPTURA DEL SELFIE - MODO LANDSCAPE********************/
  /* MENSAJE, DEL PREVIEW, CAPTURA FOTO - MODO LANDSCAPE*/
  .targetf .vd-text-content {font-size: large !important;}
  /* MENSAJE ASEGURATE QUE TU ROSTRO ESTA DENTRO DEL OVALO - MODO LANDSCAPE*/
  .postion-flame-top .txt-foto {font-size: 1em;}
  /* BTN CONTINUAR PREVIEW SELFIE - MODO LANDSCAPE */
  .targetf .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue {
    width: 164px;
    height: 48px;
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    border-radius: 24px;
    font-size: 18px;
  }
  /* BTN CANCELAR PREVIEW SELFIE - MODO LANDSCAPE */
  .targetf .vd-detection-modal-content>div div.vd-buttons-container button.vd-button {
    width: 164.7px;
    height: 48px;
    border-radius: 24px;
    font-size: 18px;
  }
  .targetf .vddoc-high-visibility {font-size: 1em;}
  .targetf .vddoc-text {font-size: 1em;}
  /********************** ESTILOS DE LA CAPTURA DEL VIDEO-SELFIE - MODO LANDSCAPE********************/
  .targetv .vddoc-high-visibility {font-size: 1em;}
  .targetv .vddoc-text {font-size: 1em;}
  /* Titulo de la cuenta regresiva del video-selfie - MODO LANDSCAPE*/
  .txt-countDown-Title {font-size: 1.3em;}
  /* Subtitulo de la cuenta regresiva del video-selfie - MODO LANDSCAPE*/
  .txt-countDown-Subtitle {font-size: 1.4em;}
  /*ESTILO IMAGEN ALUSIVA A LA CAPTURA - MODO LANDSCAPE */
  .image-center {height: 100px;}
}

@media all and (min-width:961px) and (orientation: landscape) {
  /*************************************** COMUNES - LANDSCAPE ***********************/
  /*BODY - MODO LANDSCAPE */
  .body {font-size: 1em;}
  /* BOTON DE CONTINUAR LA CAPTURA - MODO LANDSCAPE*/
  .body-button-red {width: 164.7px;height: 48px;font-size: 1em;
    box-shadow: 0 10px 12px 0 rgba(193,192,199,1.00);
  }
  /* PREVIEW DEL DOCUMENTO BOTON DE CONTINUAR-REINTENTAR, LANDSCAPE */
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue,
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continuex {
    width: 164.7px;
    height: 48px;
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    font-size: 18px;
  }

  /*************************************** ESTILOS DE LA CAPTURA DEL INE - MODO LANDSCAPE***********************/
  /* TIPO DE LETRA BOLD, TITULOS - MODO LANDSCAPE*/
  .font-bold {font-size: 1.2rem;}
  /* TITULOS PARA TEXTOS GDES - MODO LANDSCAPE*/
  .font-boldLongText {font-size: 0.9em;}
  /* ESTILO PARA LOS MENSAJES QUE INDICAN EL TIPO DE CAPTURA - MODO LANDSCAPE*/
  .fs-p7em {font-size: 0.78em;}
  /* ESTILO PARA LOS MENSAJES QUE INDICAN LA INFO. DE CAPTURA VIDEO-SELFIE - MODO LANDSCAPE*/
  .fs-p6em {font-size: 0.7em;}
  /* ESTILO PARA LOS MENSAJES EN PREVIEWS - MODO LANDSCAPE*/
  .line-height-1 {margin-top: 10px;}
  /* ESTILO PARA LOS MENSAJES - MODO LANDSCAPE*/
  .body-text-info-documents {font-size: 1.3em;}
  /* ESTILO PARA LOS MENSAJES - MODO LANDSCAPE*/
  .body-text {font-size: 1.4em;}
  /* BTN MODAL CONTINUE-OK OPCION - MODO LANDSCAPE*/
  .modal-button-red {width: 150px;height: 48px;font-size: 22px;
    box-shadow: 0 10px 12px 0 rgba(193,192,199,1.00);
    border-radius: 24px;
  }
  /* BTN MODAL EMPTY OPCION - MODO LANDSCAPE*/
  .modal-button-white {width: 150px;height: 48px;
    border-radius: 24px;
    font-size: 22px;
  }
  /* MENSAJE, CAPTURA DEL DOCUMENTO - MODO LANDSCAPE*/
  .target .vd-detection-modal-content.vd-confirmation div.vd-text-content {font-size: 1em;}
  /* BTN REINTENTAR EN EL PREVIEW DEL DOCUMENTO - MODO LANDSCAPE*/
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button {width: 164.7px;height: 48px;font-size: 18px;}
  /* Titulo del mensaje - MODO LANDSCAPE*/
  .target .vddoc-text {font-size: 1em;}
  .target .vddoc-high-visibility {font-size: 1em;}

  /********************** ESTILOS DE LA CAPTURA DEL SELFIE - MODO LANDSCAPE********************/
  /* MENSAJE, DEL PREVIEW, CAPTURA FOTO - MODO LANDSCAPE*/
  .targetf .vd-text-content {font-size: large !important;}
  /* MENSAJE ASEGURATE QUE TU ROSTRO ESTA DENTRO DEL OVALO - MODO LANDSCAPE*/
  .postion-flame-top .txt-foto {font-size: 1em;}
  /* BTN CONTINUAR PREVIEW SELFIE - MODO LANDSCAPE */
  .targetf .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue {
    width: 164px;
    height: 48px;
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    border-radius: 24px;
    font-size: 18px;
  }
  /* BTN CANCELAR PREVIEW SELFIE - MODO LANDSCAPE */
  .targetf .vd-detection-modal-content>div div.vd-buttons-container button.vd-button {
    width: 164.7px;
    height: 48px;
    border-radius: 24px;
    font-size: 18px;
  }
  .targetf .vddoc-high-visibility {font-size: 1em;}
  .targetf .vddoc-text {font-size: 1em;}
  /********************** ESTILOS DE LA CAPTURA DEL VIDEO-SELFIE - MODO LANDSCAPE********************/
  .targetv .vddoc-high-visibility {font-size: 1em;}
  .targetv .vddoc-text {font-size: 1em;}
  /* Titulo de la cuenta regresiva del video-selfie - MODO LANDSCAPE*/
  .txt-countDown-Title {font-size: 1.3em;}
  /* Subtitulo de la cuenta regresiva del video-selfie - MODO LANDSCAPE*/
  .txt-countDown-Subtitle {font-size: 1.4em;}
  /*ESTILO IMAGEN ALUSIVA A LA CAPTURA - MODO LANDSCAPE */
  .image-center {height: 100px;}
}

@media all and (min-width:1025px) and (orientation: landscape) {
  /*************************************** COMUNES - LANDSCAPE ***********************/
  /*BODY - MODO LANDSCAPE */
  .body {font-size: 1em;}
  /* BOTON DE CONTINUAR LA CAPTURA - MODO LANDSCAPE*/
  .body-button-red {width: 164.7px;height: 48px;font-size: 1em;
    box-shadow: 0 10px 12px 0 rgba(193,192,199,1.00);
  }
  /* PREVIEW DEL DOCUMENTO BOTON DE CONTINUAR-REINTENTAR, LANDSCAPE */
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue,
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continuex {
    width: 164.7px;
    height: 48px;
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    font-size: 18px;
  }

  /*************************************** ESTILOS DE LA CAPTURA DEL INE - MODO LANDSCAPE***********************/
  /* TIPO DE LETRA BOLD, TITULOS - MODO LANDSCAPE*/
  .font-bold {font-size: 1em;}
  /* TITULOS PARA TEXTOS GDES - MODO LANDSCAPE*/
  .font-boldLongText {font-size: 0.9em;}
  /* ESTILO PARA LOS MENSAJES QUE INDICAN EL TIPO DE CAPTURA - MODO LANDSCAPE*/
  .fs-p7em {font-size: 0.78em;}
  /* ESTILO PARA LOS MENSAJES QUE INDICAN LA INFO. DE CAPTURA VIDEO-SELFIE - MODO LANDSCAPE*/
  .fs-p6em {font-size: 0.7em;}
  /* ESTILO PARA LOS MENSAJES EN PREVIEWS - MODO LANDSCAPE*/
  .line-height-1 {margin-top: 10px;}
  /* ESTILO PARA LOS MENSAJES - MODO LANDSCAPE*/
  .body-text-info-documents {font-size: 1.3em;}
  /* ESTILO PARA LOS MENSAJES - MODO LANDSCAPE*/
  .body-text {font-size: 1.4em;}
  /* BTN MODAL CONTINUE-OK OPCION - MODO LANDSCAPE*/
  .modal-button-red {width: 150px;height: 48px;font-size: 22px;
    box-shadow: 0 10px 12px 0 rgba(193,192,199,1.00);
    border-radius: 24px;
  }
  /* BTN MODAL EMPTY OPCION - MODO LANDSCAPE*/
  .modal-button-white {width: 150px;height: 48px;
    border-radius: 24px;
    font-size: 22px;
  }
  /* MENSAJE, CAPTURA DEL DOCUMENTO - MODO LANDSCAPE*/
  .target .vd-detection-modal-content.vd-confirmation div.vd-text-content {font-size: 1em;}
  /* BTN REINTENTAR EN EL PREVIEW DEL DOCUMENTO - MODO LANDSCAPE*/
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button {width: 164.7px;height: 48px;font-size: 18px;}
  /* Titulo del mensaje - MODO LANDSCAPE*/
  .target .vddoc-text {font-size: 1em;}
  .target .vddoc-high-visibility {font-size: 1em;}

  /********************** ESTILOS DE LA CAPTURA DEL SELFIE - MODO LANDSCAPE********************/
  /* MENSAJE, DEL PREVIEW, CAPTURA FOTO - MODO LANDSCAPE*/
  .targetf .vd-text-content {font-size: large !important;}
  /* MENSAJE ASEGURATE QUE TU ROSTRO ESTA DENTRO DEL OVALO - MODO LANDSCAPE*/
  .postion-flame-top .txt-foto {font-size: 1em;}
  /* BTN CONTINUAR PREVIEW SELFIE - MODO LANDSCAPE */
  .targetf .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue {
    width: 164px;
    height: 48px;
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    /* border-radius: 24px; */
    font-size: 18px;
  }
  /* BTN CANCELAR PREVIEW SELFIE - MODO LANDSCAPE */
  .targetf .vd-detection-modal-content>div div.vd-buttons-container button.vd-button {
    width: 164.7px;
    height: 48px;
    /* border-radius: 24px; */
    font-size: 18px;
  }
  .targetf .vddoc-high-visibility {font-size: 1em;}
  .targetf .vddoc-text {font-size: 1em;}
  /********************** ESTILOS DE LA CAPTURA DEL VIDEO-SELFIE - MODO LANDSCAPE********************/
  .targetv .vddoc-high-visibility {font-size: 1em;}
  .targetv .vddoc-text {font-size: 1em;}
  /* Titulo de la cuenta regresiva del video-selfie - MODO LANDSCAPE*/
  .txt-countDown-Title {font-size: 1.3em;}
  /* Subtitulo de la cuenta regresiva del video-selfie - MODO LANDSCAPE*/
  .txt-countDown-Subtitle {font-size: 1.4em;}
  /*ESTILO IMAGEN ALUSIVA A LA CAPTURA - MODO LANDSCAPE */
  .image-center {height: 100px;}
}

@media all and (min-width:1281px) and (orientation: landscape) {
  /*************************************** COMUNES - LANDSCAPE ***********************/
  /*BODY - MODO LANDSCAPE */
  .body {font-size: 1em;}
  /* BOTON DE CONTINUAR LA CAPTURA - MODO LANDSCAPE*/
  .body-button-red {width: 164.7px;height: 48px;font-size: 1em;
    box-shadow: 0 10px 12px 0 rgba(193,192,199,1.00);
  }
  /* PREVIEW DEL DOCUMENTO BOTON DE CONTINUAR-REINTENTAR, LANDSCAPE */
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue,
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continuex {
    width: 164.7px;
    height: 48px;
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    font-size: 18px;
  }

  /*************************************** ESTILOS DE LA CAPTURA DEL INE - MODO LANDSCAPE***********************/
  /* TIPO DE LETRA BOLD, TITULOS - MODO LANDSCAPE*/
  .font-bold {font-size: 1em;}
  /* TITULOS PARA TEXTOS GDES - MODO LANDSCAPE*/
  .font-boldLongText {font-size: 0.9em;}
  /* ESTILO PARA LOS MENSAJES QUE INDICAN EL TIPO DE CAPTURA - MODO LANDSCAPE*/
  .fs-p7em {font-size: 0.78em;}
  /* ESTILO PARA LOS MENSAJES QUE INDICAN LA INFO. DE CAPTURA VIDEO-SELFIE - MODO LANDSCAPE*/
  .fs-p6em {font-size: 0.7em;}
  /* ESTILO PARA LOS MENSAJES EN PREVIEWS - MODO LANDSCAPE*/
  .line-height-1 {margin-top: 10px;}
  /* ESTILO PARA LOS MENSAJES - MODO LANDSCAPE*/
  .body-text-info-documents {font-size: 1.3em;}
  /* ESTILO PARA LOS MENSAJES - MODO LANDSCAPE*/
  .body-text {font-size: 1.4em;}
  /* BTN MODAL CONTINUE-OK OPCION - MODO LANDSCAPE*/
  .modal-button-red {width: 150px;height: 48px;font-size: 22px;
    box-shadow: 0 10px 12px 0 rgba(193,192,199,1.00);
    border-radius: 24px;
  }
  /* BTN MODAL EMPTY OPCION - MODO LANDSCAPE*/
  .modal-button-white {width: 150px;height: 48px;
    border-radius: 24px;
    font-size: 22px;
  }
  /* MENSAJE, CAPTURA DEL DOCUMENTO - MODO LANDSCAPE*/
  .target .vd-detection-modal-content.vd-confirmation div.vd-text-content {font-size: 1em;}
  /* BTN REINTENTAR EN EL PREVIEW DEL DOCUMENTO - MODO LANDSCAPE*/
  .target .vd-detection-modal-content>div div.vd-buttons-container button.vd-button {width: 164.7px;height: 48px;font-size: 18px;}
  /* Titulo del mensaje - MODO LANDSCAPE*/
  .target .vddoc-text {font-size: 1em;}
  .target .vddoc-high-visibility {font-size: 1em;}

  /********************** ESTILOS DE LA CAPTURA DEL SELFIE - MODO LANDSCAPE********************/
  /* MENSAJE, DEL PREVIEW, CAPTURA FOTO - MODO LANDSCAPE*/
  .targetf .vd-text-content {font-size: large !important;}
  /* MENSAJE ASEGURATE QUE TU ROSTRO ESTA DENTRO DEL OVALO - MODO LANDSCAPE*/
  .postion-flame-top .txt-foto {font-size: 1em;}
  /* BTN CONTINUAR PREVIEW SELFIE - MODO LANDSCAPE */
  .targetf .vd-detection-modal-content>div div.vd-buttons-container button.vd-button.vd-continue {
    width: 164px;
    height: 48px;
    box-shadow: 0 18px 11px -13px rgba(236, 0, 0, 0.5);
    border-radius: 24px;
    font-size: 18px;
  }
  /* BTN CANCELAR PREVIEW SELFIE - MODO LANDSCAPE */
  .targetf .vd-detection-modal-content>div div.vd-buttons-container button.vd-button {
    width: 164.7px;
    height: 48px;
    border-radius: 24px;
    font-size: 18px;
  }
  .targetf .vddoc-high-visibility {font-size: 1em;}
  .targetf .vddoc-text {font-size: 1em;}
  /********************** ESTILOS DE LA CAPTURA DEL VIDEO-SELFIE - MODO LANDSCAPE********************/
  .targetv .vddoc-high-visibility {font-size: 1em;}
  .targetv .vddoc-text {font-size: 1em;}
  /* Titulo de la cuenta regresiva del video-selfie - MODO LANDSCAPE*/
  .txt-countDown-Title {font-size: 1.3em;}
  /* Subtitulo de la cuenta regresiva del video-selfie - MODO LANDSCAPE*/
  .txt-countDown-Subtitle {font-size: 1.4em;}
  /*ESTILO IMAGEN ALUSIVA A LA CAPTURA - MODO LANDSCAPE */
  .image-center {height: 100px;}
}