<div class="row body-height">
	<!-- <figure class="icon-vertical">
		<img height="40px" src="assets/img/santander/flamaroja.png" alt="Mostrando imagen" />
	</figure> -->
	<div class="body col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<figure class="img-background"></figure>
		<picture>
			<img class="image-center" src="assets/img/santander/video_capture2.png" alt="Mostrando imagen" />
		</picture>
		<div class="body-text">
			<div class="font-boldLongText" style="white-space:nowrap;overflow: hidden;">
				Video con Identificación
			</div><br>
			<div class="fs-p6em line-height-1">
				1. Te tomaremos un video
			</div>
			<div class="fs-p6em line-height-1">
				2. Pediremos que presentes tu ID a la cámara
			</div>
			<div class="fs-p6em line-height-1">
				3. Voltea tu identificación y di tu nombre
			</div>
			<div class="fs-p6em line-height-1">
				4. Terminamos !!
			</div>
		</div>
	</div>
	<button (click)="captureVideo()" class="body-button-red">
		Continuar
	</button>
</div>