<div class="body-height  row">
	<div class="body-info-documents col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<figure>
			<img height="40px" src="assets/img/santander/flamaroja.png" alt="Mostrando imagen" />
		</figure>
		<span (click)="openModal();" class="close-button topright">&times;</span>
		<p class="body-text-info-documents ">
			<span>Por favor coloca tu celular</span><br>
			<span>en posición horizontal</span><br>
			<span>para la toma de la foto.</span>
		</p>
		<picture>
			<img height="100px" src="assets/img/santander/captural.png" alt="Mostrando imagen" />
		</picture>
		<button *ngIf="statusBtn" class="body-button-red" (click)="captureDocuments()">Continuar</button>
	</div>
</div>