<div class="row body-height">
	<!-- <figure class="icon-vertical">
		<img id="flama" height="40px" src="assets/img/santander/flamaroja.png" alt="Mostrando imagen" />
	</figure> -->
	<div class="body col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<figure class="img-background icon-vertical"></figure>
		<picture>
			<img class="image-center" src="assets/img/santander/inicio.svg" alt="Mostrando imagen" />
		</picture>
		<div class="body-text">
			<div class="font-bold" style="white-space:normal;">
				Necesitas tener tu documento de identidad para continuar.
			</div>
			<div class="fs-p7em line-height-1" style="white-space:normal;">
				Se tomar&aacute; una foto legible de tu identificaci&oacute;n, de frente y reverso.
			</div>
		</div>
	</div>
	<button class="body-button-red botton-vertical" (click)="captureDocs()">
		Continuar
	</button>
</div>