<figure class="postion-flame-right">
    <span (click)="openModal();" class="close-button topright">&times;</span>
</figure>
<figure class="postion-flame-top">
    <!-- <img class="flamaSelfie" height="40px"  src="assets/img/santander/flamablanca.png" alt="Mostrando imagen"/> -->
    <div *ngIf="fotoMsj" class="txt-foto">
        Asegúrate de que tu rostro
    </div>
    <div *ngIf="fotoMsj" class="txt-foto">
        está dentro del óvalo
    </div>
</figure>
<div class="targetf" id="targetF"></div>