<div id="infoCaptureSelfie" class="row body-height ">
	<!-- <figure class="icon-vertical">
		<img height="40px" src="assets/img/santander/flamaroja.png" alt="Mostrando imagen" />
	</figure> -->
	<div class="body col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<picture>
			<img class="image-center" src="assets/img/santander/selfie.png" alt="Mostrando imagen" />
		</picture>
		<figure class="img-background"></figure>
		<div class="body-text">
			<div class="font-bold" style="white-space:normal;">
				Momento de tomarse una selfie
			</div>
			<div class="fs-p7em line-height-1" style="white-space:normal;">
				Sin lentes, sin gorra... sonríe !
			</div>
		</div>
	</div>
	<button (click)="captureSelfie()" class="body-button-red botton-vertical">
		Continuar
	</button>
</div>