<div class="row body-height">
	<!-- <figure class="icon-vertical">
		<img height="40px" src="assets/img/santander/flamaroja.png" alt="Mostrando imagen" />
	</figure> -->
	<div class="body col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<picture>
			<img class="image-center" src="assets/img/santander/icon_default_err.svg" alt="Mostrando imagen" />
		</picture>
		<div class="body-text">
			<div class="font-boldLongText">
				Se ha excedido el límite de tiempo para realizar la captura.
			</div><br>
			<div class="fs-p7em line-height-1">
				Por favor, intenta nuevamente.
			</div>
		</div>
		<button class="body-button-red botton-vertical" (click)="timeOut()">
			Reintentar
		</button>
	</div>
</div>