<div class="row body-height">
	<div class="body-info-documents col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<!-- <figure>
			<img height="40px" src="assets/img/santander/flamaroja.png" alt="Mostrando imagen" />
		</figure> -->
		<picture>
			<img height="100px" src="assets/img/santander/icon_default_err.svg" alt="Mostrando imagen" />
		</picture>
		<p class="body-text-info-documents ">
			<span style="font-weight: bold;">Dispositivo Incompatible</span><br>
			<span>Tu navegador es incompatible con la aplicación</span><br>
			<span>por favor actualiza la versión.</span>
		</p>
		<button class="body-button-red" (click)="terminar();">
			Salir
		</button>
	</div>
</div>