<div id="loader" >
    <!-- <div class="organic">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <svg class="loader-logo" viewBox="0 0 34 34" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>logo</title>
        <defs></defs>
        <g id="logo">
          <path
            d="M17.4462047,5.27684074 C17.4462047,8.58722565 23.1107952,12.2613214 23.1107952,16.0409857 C23.1107952,16.0409857 23.1107952,16.4046965 22.9541778,16.7969186 C28.2504846,17.8911333 32,20.4717849 32,23.4955164 C32,27.5610636 25.3127439,30.8968774 17.026749,30.9230769 L16.8693562,30.9230769 C8.66167007,30.9230769 2,27.6912905 2,23.6511723 C2,20.6282114 6.06430104,18.1777868 10.9690642,16.8747465 C10.9690642,18.5430387 16.5553459,23.8337982 16.6863774,25.9698287 C16.6863774,25.9698287 16.7127387,26.1532253 16.7127387,26.3620508 C16.7127387,26.4668488 16.7127387,26.5708763 16.6863774,26.6749037 C17.8912465,26.0491978 17.8912465,24.0942522 17.8912465,24.0942522 C17.8912465,19.4546275 12.4631329,17.396425 12.4631329,12.8353988 C12.4631329,11.0630792 13.3020443,9.75926835 14.0641977,9.39478696 L14.0641977,10.6708571 C14.0641977,13.9820126 19.937353,17.6830784 19.937353,20.7052687 L19.937353,21.6969972 C21.3011656,21.1753187 21.3011656,18.6994652 21.3011656,18.6994652 C21.3011656,14.52912 15.8466906,12.2096929 15.8466906,7.43984131 C15.8466906,5.66752164 16.6863774,4.36371082 17.4462047,4 L17.4462047,5.27684074 Z">
          </path>
        </g>
      </svg>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <defs>
        <filter id="organic">
          <feGaussianBlur in="SourceGraphic" stdDeviation="4" result="blur" />
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
            result="organic" />
          <feBlend in="SourceGraphic" in2="organic" />
        </filter>
      </defs>
    </svg> -->
    <div class="info">
      <img src="assets/img/santander/spinner2.gif" alt="loading..."/>
      <div class="title">{{txtSpinner}}</div>
      <div class="subtitle">{{subtxtSpinner}}</div>
    </div>
  </div>