<div class="row body-height">
	<figure class="icon-vertical">
		<img height="40px" [src]="inicio" alt="Mostrando imagen" />
	</figure>
	<div class="body col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<!-- <figure class="img-background icon-vertical"></figure> -->
		<picture>
			<img class="image-center" [src]="offline" alt="Mostrando imagen" />
		</picture>
		<div class="body-text">
			<div class="font-bold" style="white-space:normal;">
				Sin conexión
			</div><br>
			<div class="fs-p7em line-height-1" style="white-space:normal;">
				Mejor ingresa de nuevo o <br>
				<a href="javascript:void(0)" (click)="refresh()" style="color: #ec0000">
					actualiza la página
				</a>
			</div>
		</div>
	</div>
	<!-- <button class="body-button-red botton-vertical" (click)="captureDocs()">
		Continuar
	</button> -->
</div>

