<!-- <div class="modal-header">
	<h6 class="modal-title red-color" id="modal-basic-title">{{modalHeader}}</h6>
</div> -->
<div class="modal-body">
	<a href="javascript:void(0)" (click)="activeModal.close('Close click')"
		style="color: #ec0000;position:absolute; right: 1em;">Cerrar</a><br>
	<img height="100px" src="assets/img/santander/icon_default_err.svg" alt="Mostrando imagen" /><br>
	<div class="font-bold">{{modalHeader}}</div>
	<div class="fs-p7em line-height-1">{{modalBody}}</div>
</div>
<div class="modal-footer">
	<div *ngIf="btnCancelaProceso">
		<button class="modal-button-white" (click)="cancelProcess();">
			{{txtCancelaProceso}}
		</button>
	</div>
	<div *ngIf="btnCierraModal">
		<button type="button" class="modal-button-red"
			(click)="activeModal.close('Close click')">
			{{txtCierraModal}}
		</button>
	</div>
	<div *ngIf="btnEnterado">
		<button class="modal-button-red" (click)="cancelProcess();">
			{{txtEnterado}}
		</button>
	</div>
</div>