  <figure *ngIf="showButton" class="postion-flame-right">
    <span (click)="openModal();" class="close-button topright">&times;</span>
  </figure>
  <!-- <figure *ngIf="showButton" class="postion-flame-right-horizontal">
    <img height="40px" src="assets/img/santander/flamablanca.png" alt="Mostrando imagen" />
  </figure> -->
  <div class="targetDoc" id="target"></div>