<figure class="postion-flame-right">
    <span (click)="openModal();" class="close-button topright">&times;</span>
</figure>
<figure class="postion-flame-top">
    <!-- <img height="40px" src="assets/img/santander/flamablanca.png" alt="Mostrando imagen" /><br> -->
    <div class="txt-countDown-Title">¡Acción!</div><br>
    <div class="txt-countDown-Subtitle">{{counterSeg}}</div>
</figure>
<div class="targetv" id="targetV"></div>
<!-- <figure class="postion-flame-bottom">
    <div class="txt-countDown">{{counterSeg}}</div>
</figure> -->