<div class="row body-height" style="font-size: small;">
	<!-- <figure class="icon-vertical">
		<img height="40px" src="assets/img/santander/flamaroja.png" alt="Mostrando imagen" />
	</figure> -->
	<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<figure class="img-background"></figure>
		<div *ngIf="show_error">
			<div class="row body-height">
				<div class="body col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<img class="image-center" src="assets/img/santander/icon_default_err.svg" alt="Mostrando imagen" />
					<div class="body-text" style="font-size: 1.7em;">
						<div class="font-boldLongText">
							Hubo un error...
						</div><br>
						<div class="fs-p7em line-height-1">
							Utiliza un documento de identidad válido.
						</div>
					</div>
					<button class="body-button-red botton-vertical" (click)="terminar()">
						Salir
					</button>
				</div>
			</div>
		</div>
		<div *ngIf="!show_error">
			<div *ngIf="show_all_data">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<ul id="ListSalidaOCR"
						style="width: auto; padding:0; height: 100vh; overflow: auto;text-align: left"></ul>
				</div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
					<ul id="ListSalidaSCORES"
						style="width: auto; padding:0; height: 100vh; overflow: auto;text-align: left"></ul>
				</div>
			</div>
			<div *ngIf="!show_all_data">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<div class="card">
						<div class="card-header text-white bg-dark">
							Datos del cliente
						</div>
						<div class="card-body">
							<table class="table table-striped">
								<tbody>
									<tr>
										<th scope="row">Nombre</th>
										<td><label id="nombre"></label></td>
									</tr>
									<tr>
										<th scope="row">Apellidos</th>
										<td><label id="apellidos"></label></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<br>
					<div class="card">
						<div class="card-header text-white bg-dark">
							Scores de validación
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-striped">
									<tbody>
										<tr>
											<th scope="row">
												<label id="title0"></label>
											</th>
											<td><label id="data0"></label></td>
										</tr>
										<tr>
											<th scope="row">
												<label id="title1"></label>
											</th>
											<td><label id="data1"></label></td>
										</tr>
										<tr>
											<th scope="row">
												<label id="title2"></label>
											</th>
											<td><label id="data2"></label></td>
										</tr>
										<tr>
											<th scope="row">
												<label id="title3"></label>
											</th>
											<td><label id="data3"></label></td>
										</tr>
										<tr>
											<th scope="row">
												<label id="title4"></label>
											</th>
											<td><label id="data4"></label></td>
										</tr>
										<tr>
											<th scope="row">
												<label id="title5"></label>
											</th>
											<td><label id="data5"></label></td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>