@charset "UTF-8";

/* ----- LOADER ----- */
#loader,
#loader-i {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  background: #ffffff;
  right: 0;
  top: 0px;
  width: 100%;
  z-index: 99999;
  position: absolute;
}
@media only screen and (max-width: 768px) and (orientation: landscape ) {
  .organic {
    bottom: 24%!important;
  }
}

.organic {
  bottom: 0;
  filter: url(#organic);
  height: 220px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 290px;
}

.loader-logo {
  height: 22px;
  left: 50%;
  width: 22px;
  margin-left: -11px;
  margin-top: -12px;
  position: absolute;
  top: 50%;
  z-index: 200;
  fill: white;
}

.dot {
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 0;
}

.dot:before {
  background: #ec0000;
  border-radius: 50px;
  content: '';
  height: 22px;
  left: 50%;
  margin-left: -11px;
  margin-top: -11px;
  position: absolute;
  -webkit-transform: translateY(0) rotate(0deg);
  -ms-transform: translateY(0) rotate(0deg);
  -moz-transform: translateY(0) rotate(0deg);
  -o-transform: translateY(0) rotate(0deg);
  transform: translateY(0) rotate(0deg);
  width: 22px;
}

@keyframes dot-move {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  18%,
  22% {
    -webkit-transform: translateY(-45px);
    -ms-transform: translateY(-45px);
    transform: translateY(-45px);
  }

  40%,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes dot-move {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  18%,
  22% {
    -webkit-transform: translateY(-45px);
    -ms-transform: translateY(-45px);
    transform: translateY(-45px);
  }
  40%,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.dot:nth-child(5):before {
  z-index: 100;
  width: 43px;
  height: 43px;
  margin-left: -21.5px;
  margin-top: -21.5px;
  -moz-animation: dot-colors 5s ease infinite;
  -webkit-animation: dot-colors 5s ease infinite;
  animation: dot-colors 5s ease infinite;

}

@keyframes dot-rotate-1 {
  0% {
    -webkit-transform: rotate(-105deg);
    -ms-transform: rotate(-105deg);
    transform: rotate(-105deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@-webkit-keyframes dot-rotate-1 {
  0% {
    -webkit-transform: rotate(-105deg);
    -ms-transform: rotate(-105deg);
    transform: rotate(-105deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

.dot:nth-child(1) {
  -moz-animation: dot-rotate-1 5s 0s linear infinite;
  -webkit-animation: dot-rotate-1 5s 0s linear infinite;
  animation: dot-rotate-1 5s 0s linear infinite;
}

.dot:nth-child(1):before {
  -webkit-animation: dot-move 5s 0s ease infinite;
  -moz-animation: dot-move 5s 0s ease infinite;
  animation: dot-move 5s 0s ease infinite;
}

@keyframes dot-rotate-2 {
  0% {
    -webkit-transform: rotate(165deg);
    -ms-transform: rotate(165deg);
    transform: rotate(165deg);
  }
  100% {
    -webkit-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    transform: rotate(540deg);
  }
}

@-webkit-keyframes dot-rotate-2 {
  0% {
    -webkit-transform: rotate(165deg);
    -ms-transform: rotate(165deg);
    transform: rotate(165deg);
  }
  100% {
    -webkit-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    transform: rotate(540deg);
  }
}

.dot:nth-child(2) {
  -moz-animation: dot-rotate-2 5s 1.25s linear infinite;
  -webkit-animation: dot-rotate-2 5s 1.25s linear infinite;
  animation: dot-rotate-2 5s 1.25s linear infinite;
}

.dot:nth-child(2):before {
  -moz-animation: dot-move 5s 1.25s ease infinite;
  -webkit-animation: dot-move 5s 1.25s ease infinite;
  animation: dot-move 5s 1.25s ease infinite;
}

@keyframes dot-rotate-3 {
  0% {
    -webkit-transform: rotate(435deg);
    -ms-transform: rotate(435deg);
    transform: rotate(435deg);
  }
  100% {
    -webkit-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    transform: rotate(810deg);
  }
}

@-webkit-keyframes dot-rotate-3 {
  0% {
    -webkit-transform: rotate(435deg);
    -ms-transform: rotate(435deg);
    transform: rotate(435deg);
  }
  100% {
    -webkit-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    transform: rotate(810deg);
  }
}

.dot:nth-child(3) {
  -webkit-animation: dot-rotate-3 5s 2.5s linear infinite;
  -moz-animation: dot-rotate-3 5s 2.5s linear infinite;
  animation: dot-rotate-3 5s 2.5s linear infinite;
}

.dot:nth-child(3):before {
  -webkit-animation: dot-move 5s 2.5s ease infinite;
  -moz-animation: dot-move 5s 2.5s ease infinite;
  animation: dot-move 5s 2.5s ease infinite;
}

@keyframes dot-rotate-4 {
  0% {
    -webkit-transform: rotate(705deg);
    -ms-transform: rotate(705deg);
    transform: rotate(705deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

@-webkit-keyframes dot-rotate-4 {
  0% {
    -webkit-transform: rotate(705deg);
    -ms-transform: rotate(705deg);
    transform: rotate(705deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

.dot:nth-child(4) {
  -webkit-animation: dot-rotate-4 5s 3.75s linear infinite;
  -moz-animation: dot-rotate-4 5s 3.75s linear infinite;
  animation: dot-rotate-4 5s 3.75s linear infinite;
}

.dot:nth-child(4):before {
  -webkit-animation: dot-move 5s 3.75s ease infinite;
  -moz-animation: dot-move 5s 3.75s ease infinite;
  animation: dot-move 5s 3.75s ease infinite;
}

.info {
  position: absolute;
  bottom: 40%;
  font-family: 'Lato', sans-serif;
  text-align: center;
  right: 0;
  left: 0;
}

.info .title {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  line-height: 1.5;
}

.info .subtitle {
  font-size: 14px;
  color: #000000;
  line-height: 1.6;
}

.info img{
  height: 120px;
  width: auto;
}

@media all and (min-width:960px) and (max-width: 1024px) {
  .info img{
    height: 140px;
  }
}

@media all and (min-width:801px) and (max-width: 959px) {
  .info img{
    height: 130px;
  }
}

@media all and (min-width:769px) and (max-width: 800px) {
  .info img{
    height: 130px;
  }
}

@media all and (min-width:569px) and (max-width: 768px) {
  .info img{
    height: 120px;
  }
}

@media all and (min-width:481px) and (max-width: 568px) {
  .info img{
    height: 100px;
  }
}

@media all and (min-width:321px) and (max-width: 480px) {
  .info img{
    height: 100px;
  }
}

@media all and (min-width:0px) and (max-width: 320px) {
  .info img{
    height: 100px;
  }
}

/* ----- AÑADIR PARA LOADER-i ----- */
.invert .loader-logo {
  fill: #ec0000;
}

.invert .dot:before {
  background-color: white;
}

.invert .info .title {
  color: #f0f0f0;
}

.invert .info .subtitle {
  font-size: 14px;
  color: #ddd;
  line-height: 1.6;
}

/* ----- SMALL LOADER ----- */
.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: auto;
  filter: url(#organic);
  -webkit-animation: bubbles-rotate ease-in-out 1s infinite;
  -moz-animation: bubbles-rotate ease-in-out 1s infinite;
  animation: bubbles-rotate ease-in-out 1s infinite;
}

@keyframes bubbles-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes bubbles-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {    
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.bubble {
  background: #ec0000;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -6px;
  margin-left: -6px;
  border-radius: 100%;
}

@keyframes bubble-anim-left {
  0% {
    -webkit-transform: translateX(0px) scale(1.06);
    -ms-transform: translateX(0px) scale(1.06);
    transform: translateX(0px) scale(1.06);
  }
  25% {
    -webkit-transform: translateX(0px) scale(1.06);
    -ms-transform: translateX(0px) scale(1.06);
    transform: translateX(0px) scale(1.06);
  }
  100% {
    -webkit-transform: translateX(-24px) scale(1);
    -ms-transform: translateX(-24px) scale(1);
    transform: translateX(-24px) scale(1);
  }
}

@-webkit-keyframes bubble-anim-left {
  0% {
    -webkit-transform: translateX(0px) scale(1.06);
    -ms-transform: translateX(0px) scale(1.06);
    transform: translateX(0px) scale(1.06);
  }
  25% {
    -webkit-transform: translateX(0px) scale(1.06);
    -ms-transform: translateX(0px) scale(1.06);
    transform: translateX(0px) scale(1.06);
  }
  100% {
    -webkit-transform: translateX(-24px) scale(1);
    -ms-transform: translateX(-24px) scale(1);
    transform: translateX(-24px) scale(1);
  }
}

.bubble:first-child {  
  -webkit-animation: bubble-anim-left ease-in-out 1s infinite alternate;
  -moz-animation: bubble-anim-left ease-in-out 1s infinite alternate;
  animation: bubble-anim-left ease-in-out 1s infinite alternate;
}

@keyframes bubble-anim-right {
  0% {
    -webkit-transform: translateX(0px) scale(1.06);
    -ms-transform: translateX(0px) scale(1.06);
    transform: translateX(0px) scale(1.06);
  }

  25% {
    -webkit-transform: translateX(0px) scale(1.06);
    -ms-transform: translateX(0px) scale(1.06);
    transform: translateX(0px) scale(1.06);
  }

  100% {
    -webkit-transform: translateX(24px) scale(1);
    -ms-transform: translateX(24px) scale(1);    
    transform: translateX(24px) scale(1);
  }
}

@-webkit-keyframes bubble-anim-right {
  0% {
    -webkit-transform: translateX(0px) scale(1.06);
    -ms-transform: translateX(0px) scale(1.06);
    transform: translateX(0px) scale(1.06);
  }

  25% {
    -webkit-transform: translateX(0px) scale(1.06);
    -ms-transform: translateX(0px) scale(1.06);
    transform: translateX(0px) scale(1.06);
  }

  100% {
    -webkit-transform: translateX(24px) scale(1);
    -ms-transform: translateX(24px) scale(1);
    transform: translateX(24px) scale(1);
  }
}

.bubble:last-child {
  animation: bubble-anim-right ease-in-out 1s infinite alternate;
  -webkit-animation: bubble-anim-right ease-in-out 1s infinite alternate;
  -moz-animation: bubble-anim-right ease-in-out 1s infinite alternate;
}

/* ----- AÑADIR PARA SMALL LOADER-i ----- */
.invert .bubble {
  background-color: white;
}