<div class="row body-height ">
	<!-- <figure class="icon-vertical">
		<img height="40px" src="assets/img/santander/flamaroja.png" alt="Mostrando imagen" />
	</figure> -->
	<div class="body col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<picture>
			<img class="image-center" src="assets/img/santander/camera_broken.svg" alt="Mostrando imagen" />
		</picture>
		<div class="body-text">
			<div class="font-bold">Faltan permisos de tu cámara</div><br>
			<div class="fs-p7em line-height-1">
				Para poder continuar, actíva el permiso <br>
				de tu cámara desde la configuración de <br>
				tu navegador.
			</div>
		</div>
		<!-- <a href="javascript:void(0)" (click)="trypermisos()" style="color: #ec0000;font-size: larger;">
			Revisa como hacerlo
		</a> -->
	</div>
</div>