<div class="row body-height">
	<div class="body-info-documents col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<!-- <figure>
			<img height="40px" src="assets/img/santander/flamaroja.png" alt="Mostrando imagen" />
		</figure> -->
		<p class="body-text-info-documents ">
			<span>Hemos finalizado</span><br>
			<span>el proceso de identificación</span><br>
			<span>Muchas Gracias</span>
		</p>
		<picture>
			<img height="100px" src="assets/img/santander/selfie.svg" alt="Mostrando imagen" />
		</picture>
		<a (click)="terminar();">
			<button class="body-button-red">Continuar</button>
		</a>
	</div>
</div>